.custom-text-title {
  text-align: left;
  padding-left: 20px;
}

thead{
  height: 30px !important;
}
td {
  border: 0px;
}
th {
  border: 0px !important;
  padding: 5px;
  vertical-align: middle !important;
}
.table {
  table-layout: fixed;
}
.title-cell {
  font-weight: 500;
  vertical-align: middle;
  text-align: start;
}
.blank-cell {
  background-color: white;
  width: 180px;
}

.before-change {
  background-color: #6ec6e6;
  color: #fff;
  font-size: 15px;
  border: 20px solid !important;
}
.after-change {
  background-color: #20a8d8;
  color: #fff;
  font-size: 15px;
  border: 20px solid !important;
}
