<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <div class="row border-title">
            <div class="col-md-12">
              <strong>{{ title }}</strong>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form class="form-horizontal border-shadow"
                autocomplete="off">
            <div class="row ">
              <!-- Factory -->
              <div class="col-xxl-3 col-xl-4 col-lg-6 col-sm-12 col-md-6">
                <label class="badge badge-warning"> {{"SalaryMaintenance.SalaryAdditionsAndDeductionsInput.Factory" | translate }} <span class="text-danger text-bold"> *</span></label>
                <ng-select name="factory"
                           [(ngModel)]="param.factory"
                           (clear)="deleteProperty('factory')"
                           (ngModelChange)="onFactoryChange()"
                           [clearable]="param.factory !== ''"
                           placeholder='{{"SalaryMaintenance.SalaryAdditionsAndDeductionsInput.Factory" | translate }}'>
                  <ng-option *ngFor="let data of listFactory"
                             [value]="data.key">{{data.value}}</ng-option>
                </ng-select>
              </div>

              <!-- Sal Month -->
              <div class="col-xxl-3 col-xl-4 col-lg-6 col-sm-12 col-md-6 ">
                <label class="badge badge-warning"> {{"SalaryMaintenance.SalaryAdditionsAndDeductionsInput.SalMonth" | translate }} <span class="text-danger text-bold"> *</span></label>
                <div class="full-width">
                  <div class="container_date">
                    <div class="input-group mr-2">
                      <input autocomplete="off"
                             (keydown.backspace)="sal_Month_Value = null"
                             onpaste="return false;"
                             type="text"
                             placeholder="{{placeholder.YearMonth}}"
                             class="form-control"
                             name="sal_Month_Value"
                             [(ngModel)]="sal_Month_Value"
                             (ngModelChange)="onChangeSalMonth()"
                             bsDatepicker
                             [bsConfig]="{ isAnimated: true,  minMode: 'month' ,dateInputFormat: 'YYYY/MM' }" />
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="{{iconButton.CALENDAR}}"></i></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- AddDed Type -->
              <div class="col-xxl-3 col-xl-4 col-lg-6 col-sm-12 col-md-6">
                <label class="badge badge-warning"> {{"SalaryMaintenance.SalaryAdditionsAndDeductionsInput.AddDedType" | translate }} </label>
                <ng-select name="addDed_Type"
                           [(ngModel)]="param.addDed_Type"
                           (clear)="deleteProperty('addDed_Type')"
                           [clearable]="param.addDed_Type !== ''"
                           placeholder='{{"SalaryMaintenance.SalaryAdditionsAndDeductionsInput.AddDedType" | translate }}'>
                  <ng-option *ngFor="let data of listAddDedType"
                             [value]="data.key">{{data.value}}</ng-option>
                </ng-select>
              </div>

              <!-- AddDed Item -->
              <div class="col-xxl-3 col-xl-4 col-lg-6 col-sm-12 col-md-6">
                <label class="badge badge-warning"> {{"SalaryMaintenance.SalaryAdditionsAndDeductionsInput.AddDedItem" | translate }} </label>
                <ng-select name="addDed_Item"
                           [(ngModel)]="param.addDed_Item"
                           (clear)="deleteProperty('addDed_Item')"
                           [clearable]="param.addDed_Item !== ''"
                           placeholder='{{"SalaryMaintenance.SalaryAdditionsAndDeductionsInput.AddDedItem" | translate }}'>
                  <ng-option *ngFor="let data of listAddDedItem"
                             [value]="data.key">{{data.value}}</ng-option>
                </ng-select>
              </div>

              <!-- Department -->
              <div class="col-xxl-3 col-xl-4 col-lg-6 col-sm-12 col-md-6">
                <label class="badge badge-warning"> {{"SalaryMaintenance.SalaryAdditionsAndDeductionsInput.Department" | translate }} </label>
                <ng-select name="department"
                           [(ngModel)]="param.department"
                           (clear)="deleteProperty('department')"
                           [clearable]="param.department !== ''"
                           [disabled]="!param.factory"
                           placeholder='{{"SalaryMaintenance.SalaryAdditionsAndDeductionsInput.Department" | translate }}'>
                  <ng-option *ngFor="let data of listDepartment"
                             [value]="data.key">{{data.value}}</ng-option>
                </ng-select>
              </div>

              <div class="col-xxl-3 col-xl-4 col-lg-6 col-sm-12 col-md-6">
                <label class="badge badge-warning"> {{"SalaryMaintenance.SalaryAdditionsAndDeductionsInput.EmployeeID" | translate }}</label>
                <div class="input-group mr-2">
                  <div class="input-group mr-2">
                    <input autocomplete="off"
                           type="text"
                           placeholder="{{'SalaryMaintenance.SalaryAdditionsAndDeductionsInput.EmployeeID' | translate }}"
                           class="form-control"
                           maxlength="16"
                           name="employee_ID"
                           [(ngModel)]="param.employee_ID" />
                  </div>
                </div>
              </div>

              <div class="col-12 p-0 ml-3">
                <label class="d-block">&nbsp;</label>
                <button type="submit"
                        class="btn btn-primary mr-2"
                        (click)="search(true)"
                        *ngIf="functionUtility.checkFunction('Search')"
                        [disabled]="!param.factory || !sal_Month_Value">
                  <i class="{{ iconButton.SEARCH }}"></i> {{"System.Action.Search" | translate }}
                </button>
                <button type="button"
                        class="btn btn-danger  mr-2"
                        (click)="clear()">
                  <i class="{{ iconButton.CLEAR }}"></i> {{"System.Action.Clear" | translate }}
                </button>
                <button type="button"
                        (click)="onForm()"
                        class="btn btn-success mr-2"
                        *ngIf="functionUtility.checkFunction('Add')">
                  <i class="{{ iconButton.ADD }}"></i> {{"System.Action.Add" | translate }}
                </button>
                <file-upload [allowExtensions]="extensions"
                             [label]="'System.Action.Upload' | translate "
                             (filesChange)="upload($event)"
                             [hidden]="!functionUtility.checkFunction('Upload')"></file-upload>
                <button type="submit"
                        class="btn btn-success  mr-2"
                        id="excel"
                        (click)="download()"
                        [disabled]="!param.factory || !sal_Month_Value"
                        *ngIf="functionUtility.checkFunction('Excel')">
                  <i class="{{iconButton.EXCEL}}"></i> {{"System.Action.Excel" | translate }}
                </button>
                <button type="submit"
                        class="btn btn-primary"
                        id="excel"
                        (click)="downloadExcelTemplate()"
                        *ngIf="functionUtility.checkFunction('Upload')">
                  <i class="{{iconButton.EXCEL}}"></i>
                  {{'System.Action.ExcelTemplate' | translate }}
                </button>
              </div>
            </div>
          </form>
          <div class="row justify-content-md-center">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="table-responsive">
                <table class="table table-bordered">
                  <drag-scroll id="dragscroll"
                               (dragStart)="functionUtility.setTextSelector(false)"
                               (dragEnd)="functionUtility.setTextSelector(true)">
                    <table drag-scroll-item
                           class="table table-bordered">
                      <thead>
                        <tr>
                          <th class="text-center"
                              *ngIf="functionUtility.checkFunction('Edit') || functionUtility.checkFunction('Delete')"
                              [attr.colspan]="functionUtility.getColspan(['Delete','Edit'])">{{"System.Action.Operation" | translate }}</th>
                          <th class="text-center text-nowrap">{{"SalaryMaintenance.SalaryAdditionsAndDeductionsInput.Factory" | translate }}</th>
                          <th class="text-center text-nowrap">{{"SalaryMaintenance.SalaryAdditionsAndDeductionsInput.SalMonth" | translate }}</th>
                          <th class="text-center text-nowrap">{{"SalaryMaintenance.SalaryAdditionsAndDeductionsInput.EmployeeID" | translate }}</th>
                          <th class="text-center text-nowrap">{{"SalaryMaintenance.SalaryAdditionsAndDeductionsInput.Department" | translate }} </th>
                          <th class="text-center text-nowrap">{{"SalaryMaintenance.SalaryAdditionsAndDeductionsInput.LocalFullName" | translate }} </th>
                          <th class="text-center text-nowrap">{{"SalaryMaintenance.SalaryAdditionsAndDeductionsInput.AddDedType" | translate }} </th>
                          <th class="text-center text-nowrap">{{"SalaryMaintenance.SalaryAdditionsAndDeductionsInput.AddDedItem" | translate }} </th>
                          <th class="text-center text-nowrap">{{"SalaryMaintenance.SalaryAdditionsAndDeductionsInput.Currency" | translate }} </th>
                          <th class="text-center text-nowrap">{{"SalaryMaintenance.SalaryAdditionsAndDeductionsInput.Amount" | translate }} </th>
                          <th class="text-center text-nowrap">{{"SalaryMaintenance.SalaryAdditionsAndDeductionsInput.UpdateBy" | translate }} </th>
                          <th class="text-center text-nowrap">{{"SalaryMaintenance.SalaryAdditionsAndDeductionsInput.UpdateTime" | translate }} </th>
                        </tr>
                      </thead>
                      <tbody *ngIf="data.length > 0; else dataNotFound">
                        <tr *ngFor="let item of data">
                          <td class="text-center"
                              *ngIf="functionUtility.checkFunction('Edit')">
                            <button type="button"
                                    (click)="onForm(item)"
                                    class="btn btn-sm btn-warning ml-2">
                              <i class="{{ iconButton.EDIT }}"></i> <span>{{"System.Action.Edit" | translate }}</span>
                            </button>
                          </td>
                          <td class="text-center"
                              *ngIf="functionUtility.checkFunction('Delete')">
                            <button type="button"
                                    (click)="delete(item, true)"
                                    class="btn btn-sm btn-danger ml-2">
                              <i class="{{ iconButton.DELETE }}"></i> <span>{{"System.Action.Delete" | translate }}</span>
                            </button>
                          </td>
                          <td class="text-center">{{ item.factory }}</td>
                          <td class="text-center">{{ item.sal_Month | date : 'yyyy/MM'}}</td>
                          <td class="text-center">{{ item.employee_ID }}</td>
                          <td class="text-center text-nowrap">{{ item.department_Code_Name }}</td>
                          <td class="text-center">{{ item.local_Full_Name }}</td>
                          <td class="text-center text-nowrap">{{ item.addDed_Type_Str }}</td>
                          <td class="text-center text-nowrap">{{ item.addDed_Item_Str }}</td>
                          <td class="text-center">{{ item.currency_Str }}</td>
                          <td class="text-center">{{ item.amount | mask: 'separator' : {thousandSeparator: ','} }}</td>
                          <td class="text-center">{{ item.update_By }}</td>
                          <td class="text-center">{{ item.update_Time | date : 'yyyy/MM/dd HH:mm:ss' }}</td>
                        </tr>
                      </tbody>
                      <ng-template #dataNotFound>
                        <tbody>
                          <tr>
                            <td colspan="100%"
                                class="table-warning text-center font-weight-bold">
                              {{"System.Message.NoData" | translate }}
                            </td>
                          </tr>
                        </tbody>
                      </ng-template>
                    </table>
                  </drag-scroll>
                </table>
              </div>
              <div class="row">
                <div class="col-8">
                  <div class="d-flex"
                       *ngIf="data?.length > 0 && pagination.totalPage > 1">
                    <pagination [boundaryLinks]="true"
                                [totalItems]="pagination.totalCount"
                                [itemsPerPage]="pagination.pageSize"
                                previousText="&lsaquo;"
                                nextText="&rsaquo;"
                                firstText="&laquo;"
                                lastText="&raquo;"
                                [maxSize]="5"
                                [(ngModel)]="pagination.pageNumber"
                                (pageChanged)="pageChanged($event)">
                    </pagination>
                    <span class="cs-page ml-2"> Page - {{ pagination.pageNumber }} / {{ pagination.totalPage }}</span>
                  </div>
                </div>
                <div class="col-4">
                  <span class="cs-page float-right ">{{'System.Rows' | translate }} : {{pagination.totalCount}}</span>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
