<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <form class="form-horizontal"
              autocomplete="off"
              #subForm="ngForm">
          <div class="card-header">
            <div class="row border-title">
              <div class="col-md-12">
                <strong class="title-card-cs">{{ title }} - {{ 'System.Action.' + action | translate }}</strong>
                <button type="button"
                        class="{{classButton.BACK}}"
                        (click)="back()">
                  <i class="{{ iconButton.BACK }}"></i> {{'System.Action.Back' | translate }}
                </button>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row border-shadow">
              <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <label class="badge badge-warning">{{'EmployeeInformationModule.DocumentManagement.Division' | translate }}<span class="text-danger">
                    *</span></label>
                <ng-select name="division"
                           [(ngModel)]="param.division"
                           (clear)="deleteProperty('division')"
                           (ngModelChange)="onDivisionChange()"
                           [clearable]="param.division !== ''"
                           placeholder="{{'EmployeeInformationModule.DocumentManagement.Division' | translate }}"
                           [disabled]="action=='Edit'"
                           required>
                  <ng-option *ngFor="let item of divisionList"
                             [value]="item.key">{{ item.value }}</ng-option>
                </ng-select>
              </div>
              <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <label class="badge badge-warning">{{'EmployeeInformationModule.DocumentManagement.Factory' | translate }}<span class="text-danger">
                    *</span></label>
                <ng-select name="factory"
                           [(ngModel)]="param.factory"
                           (clear)="deleteProperty('factory')"
                           (ngModelChange)="onFactoryChange()"
                           [clearable]="param.factory !== ''"
                           placeholder="{{'EmployeeInformationModule.DocumentManagement.Factory' | translate }}"
                           [disabled]="action=='Edit' || !param.division"
                           required>
                  <ng-option *ngFor="let item of factoryList"
                             [value]="item.key">{{ item.value }}</ng-option>
                </ng-select>
              </div>
              <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <label for="textEmployeeId"
                       class="badge badge-warning">{{'EmployeeInformationModule.DocumentManagement.EmployeeID' | translate }}<span class="text-danger">
                    *</span></label>
                <input autocomplete="off"
                       type="text"
                       placeholder="{{'EmployeeInformationModule.DocumentManagement.EmployeeID' | translate }}"
                       class="form-control"
                       maxlength="9"
                       name="employeeId"
                       [(ngModel)]="param.employee_Id"
                       (ngModelChange)="onEmployeeChange()"
                       [disabled]="action=='Edit' || !param.factory"
                       typeaheadOptionField="key"
                       [typeahead]="employeeList$"
                       (typeaheadOnSelect)="onTypehead($event)"
                       [typeaheadScrollable]="true"
                       [typeaheadOptionsInScrollableView]="5"
                       [typeaheadAsync]="true"
                       required />
              </div>
              <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <label for="textLocalFullName"
                       class="badge badge-warning">{{'EmployeeInformationModule.DocumentManagement.LocalFullName' | translate }}</label>
                <input autocomplete="off"
                       type="text"
                       placeholder="{{'EmployeeInformationModule.DocumentManagement.InvalidEmployee' | translate }}"
                       class="form-control"
                       maxlength="50"
                       name="localFullName"
                       [(ngModel)]="param.local_Full_Name"
                       [readonly]="true"
                       required />
              </div>
            </div>
            <div class="row justify-content-md-center">
              <div class="col-lg-12">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th class="text-center operation-column">{{'EmployeeInformationModule.DocumentManagement.Operation' | translate }}</th>
                        <th class="text-center">{{'EmployeeInformationModule.DocumentManagement.DocumentType' | translate }}
                          <span class="text-danger">*</span>
                        </th>
                        <th class="text-center name-column">{{'EmployeeInformationModule.DocumentManagement.PassportFullName' | translate }}
                          <span class="text-danger">*</span>
                        </th>
                        <th class="text-center seq-column">{{'EmployeeInformationModule.DocumentManagement.Seq' | translate }}
                          <span class="text-danger">*</span>
                        </th>
                        <th class="text-center">{{'EmployeeInformationModule.DocumentManagement.DocumentNumber' | translate }}
                          <span class="text-danger">*</span>
                        </th>
                        <th class="text-center date-column">{{'EmployeeInformationModule.DocumentManagement.ValidityDateStart' | translate }}
                          <span class="text-danger">*</span>
                        </th>
                        <th class="text-center date-column">{{'EmployeeInformationModule.DocumentManagement.ValidityDateEnd' | translate }}
                          <span class="text-danger">*</span>
                        </th>
                        <th class="text-center">{{'EmployeeInformationModule.DocumentManagement.Attachment' | translate }}</th>
                        <th class="text-center">{{'EmployeeInformationModule.DocumentManagement.UpdateBy' | translate }}</th>
                        <th class="text-center">{{'EmployeeInformationModule.DocumentManagement.UpdateTime' | translate }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of data; index as i">
                        <td class="text-center">
                          <button type="button"
                                  class="{{classButton.tDELETE}}"
                                  (click)="remove(item)"><i class="{{ iconButton.DELETE }}"></i>
                            {{'System.Action.Delete' | translate }}
                          </button>
                        </td>
                        <td class="text-center">
                          <ng-select name="documentType{{item.seq}}-{{item.document_Type}}-{{i}}"
                                     [(ngModel)]="item.document_Type"
                                     (clear)="item.document_Type = ''"
                                     [clearable]="item.document_Type !== ''"
                                     (ngModelChange)="onDocumentTypeChange(item)"
                                     appendTo="body"
                                     placeholder="{{'EmployeeInformationModule.DocumentManagement.DocumentType' | translate }}">
                            <ng-option *ngFor="let item of documentList"
                                       [value]="item.key">{{ item.value }}</ng-option>
                          </ng-select>
                        </td>
                        <td class="text-center">
                          <input autocomplete="off"
                                 type="text"
                                 class="form-control text-center"
                                 maxlength="100"
                                 placeholder="{{'EmployeeInformationModule.DocumentManagement.PassportFullName' | translate }}"
                                 name="passportFullName{{item.seq}}-{{item.document_Type}}-{{i}}"
                                 [(ngModel)]="item.passport_Full_Name"
                                 [disabled]="item.document_Type != '01'"
                                 (ngModelChange)="editData(item)" />
                        </td>
                        <td class="text-center">
                          <input autocomplete="off"
                                 type="text"
                                 placeholder="Seq"
                                 class="form-control text-center"
                                 maxlength="50"
                                 name="seq{{item.seq}}-{{item.document_Type}}-{{i}}"
                                 [(ngModel)]="item.seq"
                                 disabled />
                        </td>
                        <td class="text-center">
                          <input autocomplete="off"
                                 type="text"
                                 class="form-control text-center"
                                 maxlength="50"
                                 placeholder="{{'EmployeeInformationModule.DocumentManagement.DocumentNumber' | translate }}"
                                 name="documentNumber{{item.seq}}-{{item.document_Type}}-{{i}}"
                                 [(ngModel)]="item.document_Number"
                                 (ngModelChange)="editData(item)" />
                        </td>
                        <td class="text-center">
                          <div class="input-group">
                            <input type="text"
                                   autocomplete="off"
                                   placeholder="YYYY/MM/DD"
                                   name="validityDateFrom{{item.seq}}-{{item.document_Type}}-{{i}}"
                                   [bsConfig]="bsConfig"
                                   class="form-control"
                                   bsDatepicker
                                   [(ngModel)]="item.validity_Date_From"
                                   [maxDate]="item.validity_Date_To"
                                   (ngModelChange)="editData(item)"
                                   onpaste="return false" />
                            <div class="input-group-append">
                              <span class="input-group-text"><i class="{{ iconButton.CALENDAR }}"></i></span>
                            </div>
                          </div>
                        </td>
                        <td class="text-center">
                          <div class="input-group">
                            <input type="text"
                                   autocomplete="off"
                                   placeholder="YYYY/MM/DD"
                                   name="validityDateTo{{item.seq}}-{{item.document_Type}}-{{i}}"
                                   [bsConfig]="bsConfig"
                                   class="form-control"
                                   bsDatepicker
                                   [(ngModel)]="item.validity_Date_To"
                                   [minDate]="item.validity_Date_From"
                                   (ngModelChange)="editData(item)"
                                   onpaste="return false" />
                            <div class="input-group-append">
                              <span class="input-group-text"><i class="{{ iconButton.CALENDAR }}"></i></span>
                            </div>
                          </div>
                        </td>
                        <td class="text-center">
                          <button type="button"
                                  title="View"
                                  class="btn btn-outline-primary btn-sm"
                                  (click)="attachment(item)">
                            <i class="{{ iconButton.ATTACHMENT }}"></i>
                          </button>
                        </td>
                        <td class="text-center">{{ item.update_By }}</td>
                        <td class="text-center">{{ item.update_Time | date : 'yyyy/MM/dd' }}</td>
                      </tr>
                    </tbody>
                    <tr *ngIf="data?.length === 0">
                      <td colspan="100%"
                          class="table-warning text-center font-weight-bold">
                        {{'System.Message.NoData' | translate }}
                      </td>
                    </tr>
                    <tr>
                      <td class="text-center"
                          colspan="100%">
                        <button type="button"
                                class="{{classButton.tDETAIL}}"
                                [disabled]="!param.local_Full_Name"
                                (click)="add()">
                          <i class="{{ iconButton.ADD }}"></i> {{'System.Action.Add' | translate }}
                        </button>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <div class="row justify-content-md-center">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="table-responsive text-right">
                  <button type="button"
                          class="{{classButton.SAVE}}"
                          (click)="save()"
                          [disabled]="!subForm.valid || !isAllow">
                    <i class="{{ iconButton.SAVE }}"></i> {{'System.Action.Save' | translate }}
                  </button>
                  <button type="button"
                          class="{{classButton.CLOSE}}"
                          (click)="back()">
                    <i class="{{ iconButton.CLOSE }}"></i> {{'System.Action.Close' | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <app-modal id="modify-modal"></app-modal>
</div>
