<div class="animated fadeIn">
  <div>
    <div class="card">
      <div class="card-header">
        <div class="row border-title">
          <div class="col-md-12">
            <strong class="title-card-cs"> {{title }}</strong>
          </div>
        </div>
      </div>
      <tab-component [tabs]="tabs"
                     [(tabId)]="selectedTab"
                     (tabIdChange)="changeTab()"></tab-component>
    </div>
  </div>
</div>

<ng-template #salaryGenerationTab>
  <form class="form-horizontal"
        autocomplete="off"
        #salaryGenerationSubForm="ngForm">
    <div class="row border-shadow">
      <div class="col-12">
        <div class="row">
          <!-- Factory -->
          <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-6 col-sm-12">
            <label class="badge badge-warning">{{this.i18n + 'Factory' | translate }}
              <span class="text-danger"> *</span></label>
            <ng-select name="factoryMonthSalary"
                       [(ngModel)]="salaryGeneration_Param.factory"
                       (clear)="deleteProperty('factory')"
                       (ngModelChange)="onFactoryChange()"
                       [clearable]="salaryGeneration_Param.factory!== ''"
                       placeholder="{{this.i18n + 'Factory' | translate }}"
                       required>
              <ng-option *ngFor="let item of factoryList"
                         [value]="item.key">{{ item.value }}</ng-option>
            </ng-select>
          </div>
          <!-- Year Month -->
          <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-6 col-sm-12">
            <label class="badge badge-warning">{{this.i18n + 'YearMonth' | translate }}
              <span class="text-danger"> *</span></label>
            <div class="full-width">
              <div class="container_input">
                <div class="input-group mr-1">
                  <input type="text"
                         autocomplete="off"
                         placeholder="YYYY/MM"
                         name="monthSalaryGeneration"
                         [bsConfig]="bsConfig"
                         class="form-control"
                         bsDatepicker
                         [(ngModel)]="salaryGeneration_Param.year_Month"
                         (ngModelChange)="onDateChange()"
                         onpaste="return false"
                         required />
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="{{ iconButton.CALENDAR }}"></i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Employee ID -->
          <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-6 col-sm-12">
            <label for="textDepartment"
                   class="badge badge-warning">{{this.i18n + 'EmployeeID' | translate }}
            </label>
            <input autocomplete="off"
                   type="text"
                   placeholder="{{this.i18n + 'EmployeeID' | translate }}"
                   class="form-control"
                   maxlength="16"
                   name="employeeID"
                   [(ngModel)]="salaryGeneration_Param.employee_Id" />
          </div>
          <!-- Paid Salary Days -->
          <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-6 col-sm-12">
            <label for="textDepartment"
                   class="badge badge-warning">{{this.i18n + 'SalaryDays' | translate }}
              <span class="text-danger"> *</span>
            </label>
            <input autocomplete="off"
                   type="text"
                   placeholder="{{this.i18n + 'SalaryDays' | translate }}"
                   class="form-control"
                   (keypress)="validateDecimal($event)"
                   (paste)="onDecimalPaste($event)"
                   name="salary_Days"
                   [(ngModel)]="salaryGeneration_Param.salary_Days"
                   required />
          </div>
          <!-- Permission Group -->
          <div class="col-12">
            <div class="row">
              <div class="col-auto">
                <label for="namePermissionMonthSalary"
                       class="badge badge-warning"> {{ this.i18n + "PermissionGroup" | translate }}
                  <span class="text-danger text-bold"> *</span>
                </label>
                <ng-select [items]="permissionGroupList"
                           [multiple]="true"
                           name="namePermissionMonthSalary"
                           groupBy="allGroup"
                           [selectableGroup]="true"
                           [selectableGroupAsModel]="false"
                           [closeOnSelect]="false"
                           bindLabel="value"
                           bindValue="key"
                           [(ngModel)]="salaryGeneration_Param.permission_Group"
                           [disabled]="!salaryGeneration_Param.factory"
                           required
                           placeholder="{{this.i18n + 'PermissionGroup'| translate}}">
                  <ng-template ng-optgroup-tmp
                               let-item="item"
                               let-item$="item$"
                               let-index="index">
                    <div class="custom-control custom-checkbox pe-none">
                      <input id="item-{{ index }}"
                             type="checkbox"
                             class="custom-control-input"
                             name="item-{{ index }}"
                             [ngModel]="item$.selected" />
                      <label class="custom-control-label"
                             for="item-{{ index }}">{{'System.Action.SelectAll' | translate }}</label>
                    </div>
                  </ng-template>
                  <ng-template ng-option-tmp
                               let-item="item"
                               let-item$="item$"
                               let-index="index">
                    <div class="custom-control custom-checkbox pe-none">
                      <input id="item-{{ index }}"
                             name="item-{{ index }}"
                             type="checkbox"
                             class="custom-control-input"
                             [ngModel]="item$.selected" />
                      <label class="custom-control-label"
                             for="item-{{ index }}"> {{ item.value }}</label>
                    </div>
                  </ng-template>
                </ng-select>
              </div>
            </div>
          </div>
          <div class="col-12">
            <label class="d-block">&nbsp;</label>
            <button *ngIf="this.functionUtility.checkFunction('Execute')"
                    type="button"
                    class="{{ classButton.SAVE }}"
                    [disabled]="!salaryGenerationSubForm.valid"
                    (click)="execute()">
              {{ "System.Action.Execute" | translate }}
            </button>
          </div>
          <div class="col-12 mt-2">
            <strong> {{ this.i18n + "Total" | translate }}
              <span class="text-primary"> {{salaryGeneration_Param.total_Rows}} </span>
            </strong>
          </div>
        </div>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #dataLockTab>
  <form class="form-horizontal"
        autocomplete="off"
        #dataLockFormSubForm="ngForm">
    <div class="row border-shadow">
      <div class="col-12">
        <div class="row">
          <!-- Factory -->
          <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12">
            <label class="badge badge-warning">{{this.i18n + 'Factory' | translate }}
              <span class="text-danger"> *</span></label>
            <ng-select name="factoryDataLock"
                       [(ngModel)]="dataLock_Param.factory"
                       (clear)="deleteProperty('factory')"
                       (ngModelChange)="onFactoryChange()"
                       [clearable]="dataLock_Param.factory!== ''"
                       placeholder="{{this.i18n + 'Factory' | translate }}"
                       required>
              <ng-option *ngFor="let item of factoryList"
                         [value]="item.key">{{ item.value }}</ng-option>
            </ng-select>
          </div>
          <!-- Year Month -->
          <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12">
            <label class="badge badge-warning">{{this.i18n + 'YearMonth' | translate }}
              <span class="text-danger"> *</span></label>
            <div class="full-width">
              <div class="container_input">
                <div class="input-group mr-1">
                  <input type="text"
                         autocomplete="off"
                         placeholder="YYYY/MM"
                         name="monthDataLock"
                         [bsConfig]="bsConfig"
                         class="form-control"
                         bsDatepicker
                         [(ngModel)]="dataLock_Param.year_Month"
                         (ngModelChange)="onDateChange()"
                         onpaste="return false"
                         required />
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="{{ iconButton.CALENDAR }}"></i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Salary Lock -->
          <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12">
            <label class="badge badge-warning">{{this.i18n + 'SalaryLock' | translate }}
              <span class="text-danger"> *</span></label>
            <div class="custom-control custom-radio  mt-2">
              @for (item of salaryLockList; track item.key; let i = $index) {
                <div class="form-check form-check-inline">
                  <input type="checkbox"
                         class="custom-control-input"
                         id="salaryLock-{{i}}"
                         name="salaryLock-{{i}}"
                         [value]="item.key"
                         [(ngModel)]="item.optional"
                         (click)="onRadioChange($event)" />
                  <label class="custom-control-label font-weight-bold"
                         for="salaryLock-{{i}}">{{item.key}}
                  </label>
                </div>
              }
            </div>
          </div>
          <!-- Permission Group -->
          <div class="col-12">
            <div class="row">
              <div class="col-auto">
                <label for="namePermissionDataLock"
                       class="badge badge-warning"> {{ this.i18n + "PermissionGroup" | translate }}
                  <span class="text-danger text-bold"> *</span>
                </label>
                <ng-select [items]="permissionGroupList"
                           [multiple]="true"
                           name="namePermissionDataLock"
                           groupBy="allGroup"
                           [selectableGroup]="true"
                           [selectableGroupAsModel]="false"
                           [closeOnSelect]="false"
                           bindLabel="value"
                           bindValue="key"
                           [(ngModel)]="dataLock_Param.permission_Group"
                           [disabled]="!dataLock_Param.factory"
                           required
                           placeholder="{{this.i18n + 'PermissionGroup'| translate}}">
                  <ng-template ng-optgroup-tmp
                               let-item="item"
                               let-item$="item$"
                               let-index="index">
                    <div class="custom-control custom-checkbox pe-none">
                      <input id="item-{{ index }}"
                             type="checkbox"
                             class="custom-control-input"
                             name="item-{{ index }}"
                             [ngModel]="item$.selected" />
                      <label class="custom-control-label"
                             for="item-{{ index }}">{{'System.Action.SelectAll' | translate }}</label>
                    </div>
                  </ng-template>
                  <ng-template ng-option-tmp
                               let-item="item"
                               let-item$="item$"
                               let-index="index">
                    <div class="custom-control custom-checkbox pe-none">
                      <input id="item-{{ index }}"
                             name="item-{{ index }}"
                             type="checkbox"
                             class="custom-control-input"
                             [ngModel]="item$.selected" />
                      <label class="custom-control-label"
                             for="item-{{ index }}"> {{ item.value }}</label>
                    </div>
                  </ng-template>
                </ng-select>
              </div>
            </div>
          </div>
          <div class="col-12">
            <label class="d-block">&nbsp;</label>
            <button *ngIf="this.functionUtility.checkFunction('Execute')"
                    type="button"
                    class="{{ classButton.SAVE }}"
                    [disabled]="!dataLockFormSubForm.valid || functionUtility.checkEmpty(dataLock_Param.salary_Lock)"
                    (click)="execute()">
              {{ "System.Action.Execute" | translate }}
            </button>
          </div>
          <div class="col-12 mt-2">
            <strong> {{ this.i18n + "Total" | translate }}
              <span class="text-primary"> {{dataLock_Param.total_Rows}} </span>
            </strong>
          </div>
        </div>
      </div>
    </div>
  </form>
</ng-template>
