<div bsModal
     #modal="bs-modal"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     (onHide)="onHide()"
     aria-labelledby="modalTitle">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <form #editForm="ngForm"
            autocomplete="off">
        <div class="bg-primary modal-header">
          <h4 id="modalTitle"
              class="modal-title pull-left"> {{ title }} - {{ "System.Action.Edit" | translate }}</h4>
          <button type="button"
                  class="btn-close close pull-right"
                  (click)="close()">
            <span class="visually-hidden">&times;</span>
          </button>
        </div>
        <div class="modal-body header-param">
          <div class="row">
            <!-- Factory -->
            <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6 pb-2">
              <label class="badge badge-warning">
                {{"AttendanceMaintenance.AttendanceAbnormalityDataMaintenance.Factory" | translate}}
                <span class="text-danger">*</span>
              </label>
              <ng-select name="factory"
                         [(ngModel)]="data.factory"
                         [clearable]="false"
                         disabled
                         placeholder='{{"AttendanceMaintenance.AttendanceAbnormalityDataMaintenance.Factory" | translate}}'
                         required>
                <ng-option [value]="''">{{"System.SelectAll" | translate}}</ng-option>
                <ng-option *ngFor="let i of listFactory"
                           [value]="i.key">{{i.value}}</ng-option>
              </ng-select>
            </div>
            <!-- EmployeeID -->
            <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6">
              <label class="badge badge-warning">
                {{"AttendanceMaintenance.AttendanceAbnormalityDataMaintenance.EmployeeID" | translate}}
                <span class="text-danger">*</span>
              </label>
              <input [(ngModel)]="data.employee_ID"
                     name="employeeID"
                     type="text"
                     class="form-control"
                     disabled
                     typeaheadScrollable="true"
                     placeholder="{{'AttendanceMaintenance.AttendanceAbnormalityDataMaintenance.EmployeeID' | translate}}"
                     maxlength="9"
                     required />
            </div>
            <!-- Local Full Name -->
            <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6">
              <label class="badge badge-warning">
                {{"AttendanceMaintenance.AttendanceAbnormalityDataMaintenance.LocalFullName" | translate}}
              </label>
              <input [(ngModel)]="data.local_Full_Name"
                     name="local_Full_Name"
                     type="text"
                     class="form-control"
                     placeholder="{{'AttendanceMaintenance.AttendanceAbnormalityDataMaintenance.LocalFullName' | translate}}"
                     disabled />
            </div>
            <!-- Department  -->
            <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6">
              <label class="badge badge-warning">
                {{"AttendanceMaintenance.AttendanceAbnormalityDataMaintenance.Department" | translate}}
              </label>
              <input [(ngModel)]="data.department_Code_Name"
                     name="department"
                     type="text"
                     class="form-control"
                     placeholder="{{'AttendanceMaintenance.AttendanceAbnormalityDataMaintenance.Department' | translate}}"
                     disabled />
            </div>
            <!-- Date -->
            <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6">
              <label class="badge badge-warning">
                {{"AttendanceMaintenance.AttendanceAbnormalityDataMaintenance.Date" | translate}}
                <span class="text-danger">*</span>
              </label>
              <div class="input-group mr-1">
                <input [(ngModel)]="data.att_Date"
                       name="att_Date"
                       type="text"
                       autocomplete="off"
                       class="form-control"
                       bsDatepicker
                       [bsConfig]=" bsConfig"
                       disabled
                       onpaste="return false;"
                       placeholder="YYYY/MM/DD"
                       readonly
                       required />
                <div class="input-group-append">
                  <span class="input-group-text"><i class="{{iconButton.CALENDAR}}"></i></span>
                </div>
              </div>
            </div>
            <!-- Work Shift Type  -->
            <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6">
              <label class="badge badge-warning">
                {{"AttendanceMaintenance.AttendanceAbnormalityDataMaintenance.WorkShiftType" | translate}}
                <span class="text-danger">*</span>
              </label>
              <ng-select [(ngModel)]="data.work_Shift_Type"
                         name="work_Shift_Type"
                         [clearable]="false"
                         disabled
                         placeholder="{{'AttendanceMaintenance.AttendanceAbnormalityDataMaintenance.WorkShiftType' | translate}}"
                         required>
                <ng-option [value]="''">{{"System.SelectAll" | translate}}</ng-option>
                <ng-option *ngFor="let i of listWorkShiftType"
                           [value]="i.key">{{i.value}}</ng-option>
              </ng-select>
            </div>
            <!-- Attendance -->
            <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6">
              <label class="badge badge-warning">
                {{"AttendanceMaintenance.AttendanceAbnormalityDataMaintenance.Attendance" | translate}}
                <span class="text-danger">*</span>
              </label>
              <ng-select [(ngModel)]="data.leave_Code"
                         name="leave_Code"
                         [clearable]="false"
                         placeholder="{{'AttendanceMaintenance.AttendanceAbnormalityDataMaintenance.Attendance' | translate}}"
                         required>
                <ng-option [value]="''">{{"System.SelectAll" | translate}}</ng-option>
                <ng-option *ngFor="let i of listAttendance"
                           [value]="i.key">{{i.value}}</ng-option>
              </ng-select>
            </div>
            <!-- Update Reason  -->
            <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6">
              <label class="badge badge-warning">
                {{"AttendanceMaintenance.AttendanceAbnormalityDataMaintenance.UpdateReason" | translate}}
                <span class="text-danger">*</span>
              </label>
              <ng-select [(ngModel)]="data.reason_Code"
                         name="reason_Code"
                         [clearable]="false"
                         placeholder="{{'AttendanceMaintenance.AttendanceAbnormalityDataMaintenance.UpdateReason' | translate}}"
                         required>
                <ng-option [value]="''">{{"System.SelectAll" | translate}}</ng-option>
                <ng-option *ngFor="let i of listUpdateReason"
                           [value]="i.key">{{i.value}}</ng-option>
              </ng-select>
            </div>
            <!-- Clock In  -->
            <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6">
              <label class="badge badge-warning">
                {{"AttendanceMaintenance.AttendanceAbnormalityDataMaintenance.ClockIn" | translate}}
              </label>
              <input [(ngModel)]="data.clock_In"
                     mask="00:00"
                     [value]="0000"
                     name="clock_In"
                     type="text"
                     class="form-control "
                     disabled />
            </div>
            <!-- Modified Clock-in  -->
            <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6">
              <label class="badge badge-warning">
                {{"AttendanceMaintenance.AttendanceAbnormalityDataMaintenance.ModifyClockIn" | translate}}
                <span class="text-danger">*</span>
              </label>
              <input [(ngModel)]="data.modified_Clock_In"
                     mask="00:00"
                     (blur)="updateTime($event.target.value, 'modified_Clock_In')"
                     name="modified_Clock_In"
                     type="text"
                     class="form-control "
                     required />
            </div>
            <!-- Clock Out  -->
            <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6">
              <label class="badge badge-warning">
                {{"AttendanceMaintenance.AttendanceAbnormalityDataMaintenance.ClockOut" | translate}}
              </label>
              <input [(ngModel)]="data.clock_Out"
                     mask="00:00"
                     [value]="0000"
                     name="clock_Out"
                     type="text"
                     class="form-control "
                     disabled />
            </div>
            <!-- Modified Clock-out  -->
            <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6">
              <label class="badge badge-warning">
                {{"AttendanceMaintenance.AttendanceAbnormalityDataMaintenance.ModifyClockOut" | translate}}
              </label>
              <input [(ngModel)]="data.modified_Clock_Out"
                     mask="00:00"
                     (blur)="updateTime($event.target.value, 'modified_Clock_Out')"
                     name="modified_Clock_Out"
                     type="text"
                     class="form-control "
                     required />
            </div>
            <!-- Overtime Clock In  -->
            <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6">
              <label class="badge badge-warning">
                {{"AttendanceMaintenance.AttendanceAbnormalityDataMaintenance.OvertimeClockIn" | translate}}
              </label>
              <input [(ngModel)]="data.overtime_ClockIn"
                     mask="00:00"
                     [value]="0000"
                     name="overtime_ClockIn"
                     type="text"
                     class="form-control"
                     disabled />
            </div>
            <!-- Modified Overtime Clock-in  -->
            <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6">
              <label class="badge badge-warning">
                {{"AttendanceMaintenance.AttendanceAbnormalityDataMaintenance.ModifiedOvertimeClockIn" | translate}}
                <span class="text-danger">*</span>
              </label>
              <input [(ngModel)]="data.modified_Overtime_ClockIn"
                     mask="00:00"
                     (blur)="updateTime($event.target.value, 'modified_Overtime_ClockIn')"
                     name="modified_Overtime_ClockIn"
                     type="text"
                     class="form-control"
                     required />
            </div>
            <!-- OvertimeClockOut  -->
            <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6">
              <label class="badge badge-warning">
                {{"AttendanceMaintenance.AttendanceAbnormalityDataMaintenance.OvertimeClockOut" | translate}}
              </label>
              <input [(ngModel)]="data.overtime_ClockOut"
                     mask="00:00"
                     name="overtime_ClockOut"
                     type="text"
                     class="form-control"
                     disabled />
            </div>
            <!-- Modified Overtime Clock-out  -->
            <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6">
              <label class="badge badge-warning">
                {{"AttendanceMaintenance.AttendanceAbnormalityDataMaintenance.ModifiedOvertimeClockOut" | translate}}
                <span class="text-danger">*</span>
              </label>
              <input [(ngModel)]="data.modified_Overtime_ClockOut"
                     mask="00:00"
                     (blur)="updateTime($event.target.value, 'modified_Overtime_ClockOut')"
                     name="modified_Overtime_ClockOut"
                     type="text"
                     class="form-control "
                     required />
            </div>
            <!-- Days  -->
            <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6">
              <label class="badge badge-warning">
                {{"AttendanceMaintenance.AttendanceAbnormalityDataMaintenance.Days" | translate}}
                <span class="text-danger">*</span>
              </label>
              <input [(ngModel)]="data.days"
                     name="days"
                     type="text"
                     class="form-control"
                     (blur)="validateDecimal(data.days)"
                     required />
            </div>
            <!-- Holiday  -->
            <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6">
              <label class="badge badge-warning">
                {{"AttendanceMaintenance.AttendanceAbnormalityDataMaintenance.Holiday" | translate}}
                <span class="text-danger">*</span>
              </label>
              <ng-select [(ngModel)]="data.holiday"
                         name="holiday"
                         [clearable]="false"
                         disabled
                         required>
                <ng-option [value]="''">{{"System.SelectAll" | translate}}</ng-option>
                <ng-option *ngFor="let i of listHoliday"
                           [value]="i.key">{{i.value}}</ng-option>
              </ng-select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button"
                  class="btn btn-success"
                  (click)="save()"
                  [disabled]="!editForm.valid">
            <i class="{{ iconButton.SAVE }} mr-1"> </i>{{'System.Action.Save' | translate }}
          </button>
          <button type="button"
                  class="{{classButton.CLOSE}}"
                  (click)="close()">
            <i class="{{ iconButton.CLOSE }} mr-1"></i>{{'System.Action.Close' | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
