<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <form class="form-horizontal"
              autocomplete="off"
              #mainForm="ngForm">
          <div class="card-header">
            <div class="row border-title">
              <div class="col-md-12">
                <strong class="title-card-cs">{{ title }}</strong>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row border-shadow">
              <!-- Nationality -->
              <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <label for="nationality"
                       class="badge badge-warning">
                  {{ "EmployeeInformationModule.EmployeeTransferOperationInbound.Nationality" | translate }}
                </label>
                <ng-select id="nationality"
                           name="nationality"
                           [(ngModel)]="param.nationality"
                           [clearable]="param.nationality != ''"
                           (clear)="deleteProperty('nationality')"
                           placeholder="{{ 'EmployeeInformationModule.EmployeeTransferOperationInbound.Nationality' | translate }}">
                  <ng-option *ngFor="let data of listNationality"
                             [value]="data.key">
                    {{ data.value }}
                  </ng-option>
                </ng-select>
              </div>
              <!-- Identification Number -->
              <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <label for="identificationNumber"
                       class="badge badge-warning">
                  {{ "EmployeeInformationModule.EmployeeTransferOperationInbound.IdentificationNumber" | translate }}
                </label>
                <input type="text"
                       class="form-control"
                       id="identificationNumber"
                       name="identificationNumber"
                       maxlength="50"
                       [(ngModel)]="param.identificationNumber"
                       placeholder="{{'EmployeeInformationModule.EmployeeTransferOperationInbound.IdentificationNumber' | translate }}"
                       autocomplete="off" />
              </div>
              <!-- Division -->
              <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <label for="division"
                       class="badge badge-warning">
                  {{ "EmployeeInformationModule.EmployeeTransferOperationInbound.Division" | translate }}
                </label>
                <ng-select id="division"
                           name="division"
                           [(ngModel)]="param.division"
                           (ngModelChange)="onChangeDivision()"
                           [clearable]="param.division != ''"
                           (clear)="deleteProperty('division')"
                           placeholder="{{ 'EmployeeInformationModule.EmployeeTransferOperationInbound.Division' | translate }}">
                  <ng-option *ngFor="let data of listDivision"
                             [value]="data.key">
                    {{ data.value }}
                  </ng-option>
                </ng-select>
              </div>
              <!-- Factory -->
              <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <label for="factory"
                       class="badge badge-warning">
                  {{ "EmployeeInformationModule.EmployeeTransferOperationInbound.Factory" | translate }}
                </label>
                <ng-select id="factory"
                           name="factory"
                           [(ngModel)]="param.factory"
                           [clearable]="param.factory != ''"
                           (clear)="deleteProperty('factory')"
                           [disabled]="!param.division"
                           placeholder="{{ 'EmployeeInformationModule.EmployeeTransferOperationInbound.Factory' | translate }}">
                  <ng-option *ngFor="let data of listFactory"
                             [value]="data.key">
                    {{ data.value }}
                  </ng-option>
                </ng-select>
              </div>
              <!-- Employee ID -->
              <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <label for="employeeID"
                       class="badge badge-warning">
                  {{ "EmployeeInformationModule.EmployeeTransferOperationInbound.EmployeeID" | translate }}
                </label>
                <input type="text"
                       class="form-control"
                       id="employeeID"
                       name="employeeID"
                       maxlength="9"
                       [(ngModel)]="param.employeeID"
                       placeholder="{{ 'EmployeeInformationModule.EmployeeTransferOperationInbound.EmployeeID' | translate }}"
                       autocomplete="off" />
              </div>
              <!-- Local Full Name -->
              <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <label for="localFullName"
                       class="badge badge-warning">
                  {{ "EmployeeInformationModule.EmployeeTransferOperationInbound.LocalFullName" | translate }}
                </label>
                <input type="text"
                       class="form-control"
                       id="localFullName"
                       name="localFullName"
                       maxlength="50"
                       [(ngModel)]="param.localFullName"
                       placeholder="{{'EmployeeInformationModule.EmployeeTransferOperationInbound.LocalFullName' | translate }}"
                       autocomplete="off" />
              </div>
              <!-- Assigned/Supported Division -->
              <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <label for="assignedDivision"
                       class="badge badge-warning">
                  {{ "EmployeeInformationModule.EmployeeTransferOperationInbound.Assigned/SupportedDivision" | translate }}
                </label>
                <ng-select id="assignedDivision"
                           name="assignedDivision"
                           [(ngModel)]="param.assignedDivision"
                           (ngModelChange)="onChangeAssignedDivision()"
                           [clearable]="param.assignedDivision != ''"
                           (clear)="deleteProperty('assignedDivision')"
                           placeholder="{{'EmployeeInformationModule.EmployeeTransferOperationInbound.Assigned/SupportedDivision' | translate }}">
                  <ng-option *ngFor="let data of listDivision"
                             [value]="data.key">
                    {{ data.value }}
                  </ng-option>
                </ng-select>
              </div>
              <!-- Assigned/Supported Factory -->
              <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <label for="assignedFactory"
                       class="badge badge-warning">
                  {{ "EmployeeInformationModule.EmployeeTransferOperationInbound.Assigned/SupportedFactory" | translate }}
                </label>
                <ng-select id="assignedFactory"
                           name="assignedFactory"
                           [(ngModel)]="param.assignedFactory"
                           [clearable]="param.assignedFactory != ''"
                           (clear)="deleteProperty('assignedFactory')"
                           [disabled]="!param.assignedDivision"
                           placeholder="{{'EmployeeInformationModule.EmployeeTransferOperationInbound.Assigned/SupportedFactory' | translate }}">
                  <ng-option *ngFor="let data of listAssignedFactory"
                             [value]="data.key">
                    {{ data.value }}
                  </ng-option>
                </ng-select>
              </div>
              <!-- Assigned/Supported Employee ID -->
              <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <label for="assignedEmployeeID"
                       class="badge badge-warning">
                  {{ "EmployeeInformationModule.EmployeeTransferOperationInbound.Assigned/SupportedEmployeeID" | translate }}
                </label>
                <input type="text"
                       class="form-control"
                       id="assignedEmployeeID"
                       name="assignedEmployeeID"
                       maxlength="9"
                       [(ngModel)]="param.assignedEmployeeID"
                       placeholder="{{
                      'EmployeeInformationModule.EmployeeTransferOperationInbound.Assigned/SupportedEmployeeID'| translate }}"
                       autocomplete="off" />
              </div>
              <!-- Reason For Change -->
              <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <label for="reasonForChange"
                       class="badge badge-warning">
                  {{ "EmployeeInformationModule.EmployeeTransferOperationInbound.ReasonForChange" | translate }}
                </label>
                <ng-select id="reasonForChange"
                           name="reasonForChange"
                           [(ngModel)]="param.reasonForChange"
                           [clearable]="param.reasonForChange != ''"
                           (clear)="deleteProperty('reasonForChange')"
                           placeholder="{{'EmployeeInformationModule.EmployeeTransferOperationInbound.ReasonForChange' | translate }}">
                  <ng-option *ngFor="let data of listReasonChange"
                             [value]="data.key">
                    {{ data.value }}
                  </ng-option>
                </ng-select>
              </div>
              <!-- Effective Date -->
              <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <label for="effectiveDate"
                       class="badge badge-warning">
                  {{ "EmployeeInformationModule.EmployeeTransferOperationInbound.EffectiveDate"| translate }}
                </label>
                <div class="full-width">
                  <div class="container_input">
                    <div class="input-group mr-1">
                      <input type="text"
                             autocomplete="off"
                             class="form-control"
                             bsDatepicker
                             name="effectiveDateStart"
                             [(ngModel)]="param.effectiveDateStart"
                             (ngModelChange)="onDateChange('effectiveDateStart')"
                             [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }"
                             placeholder="YYYY/MM/DD"
                             [maxDate]="param.effectiveDateEnd"
                             [required]="param.effectiveDateEnd" />
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="{{iconButton.CALENDAR}}"></i></span>
                      </div>
                    </div>
                    <div class="input-group ml-1">
                      <input type="text"
                             autocomplete="off"
                             class="form-control"
                             bsDatepicker
                             name="effectiveDateEnd"
                             [(ngModel)]="param.effectiveDateEnd"
                             (ngModelChange)="onDateChange('effectiveDateEnd')"
                             [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }"
                             placeholder="YYYY/MM/DD"
                             [minDate]="param.effectiveDateStart"
                             [required]="param.effectiveDateStart" />
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="{{iconButton.CALENDAR}}"></i></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Effective Status -->
              <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <label class="badge badge-warning">{{ "EmployeeInformationModule.EmployeeTransferOperationInbound.EffectiveStatus" | translate }}
                </label>
                <div class="row pl-3">
                  <div *ngFor="let item of effectiveStatus; index as i">
                    <label class="container">
                      <div class="row">
                        <div class="custom-control custom-radio pt-2">
                          <input [id]="'effectiveStatus' + i"
                                 class="custom-control-input"
                                 type="radio"
                                 checked="checked"
                                 name="effectiveStatus"
                                 [(ngModel)]="param.effectiveStatus"
                                 [value]="item.key" />
                          <p class="custom-control-label"
                             [for]="'effectiveStatus' + i">
                            <strong>
                              {{ item.value | translate }}
                            </strong>
                          </p>
                        </div>
                      </div>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <label class="d-block">&nbsp;</label>
                <button *ngIf="functionUtility.checkFunction('Search')"
                        type="button"
                        class="{{ classButton.SEARCH }}"
                        (click)="search()"
                        [disabled]="!mainForm.valid">
                  <i class="{{ iconButton.SEARCH }}"></i>
                  {{ "System.Action.Search" | translate }}
                </button>
                <button *ngIf="functionUtility.checkFunction('Search')"
                        type="button"
                        class="{{ classButton.CLEAR }}"
                        (click)="clear()">
                  <i class="{{ iconButton.CLEAR }}"></i>
                  {{ "System.Action.Clear" | translate }}
                </button>
              </div>
            </div>
            <div class="row justify-content-md-center">
              <div class="col-xl-12 col-xxl-12">
                <div class="table-responsive">
                  <drag-scroll id="dragscroll"
                               (dragStart)="functionUtility.setTextSelector(false)"
                               (dragEnd)="functionUtility.setTextSelector(true)">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th class="text-center">
                          </th>
                          <th *ngIf="functionUtility.checkFunction('Edit')"
                              class="text-center"
                              [attr.colspan]="functionUtility.getColspan(['Edit'])">
                            {{ "System.Action.Operation" | translate }}
                          </th>
                          <th class="text-center">
                            {{ "EmployeeInformationModule.EmployeeTransferOperationInbound.Nationality" | translate }}
                          </th>
                          <th class="text-center">
                            {{ "EmployeeInformationModule.EmployeeTransferOperationInbound.IdentificationNumber" | translate }}
                          </th>
                          <th class="text-center custom-text-table">
                            {{ "EmployeeInformationModule.EmployeeTransferOperationInbound.LocalFullName" | translate }}
                          </th>
                          <th class="text-center custom-text-table">
                            {{ "EmployeeInformationModule.EmployeeTransferOperationInbound.Division" | translate }}
                          </th>
                          <th class="text-center">
                            {{ "EmployeeInformationModule.EmployeeTransferOperationInbound.Factory" | translate }}
                          </th>
                          <th class="text-center">
                            {{ "EmployeeInformationModule.EmployeeTransferOperationInbound.EmployeeID" | translate }}
                          </th>
                          <th class="text-center custom-text-table">
                            {{ "EmployeeInformationModule.EmployeeTransferOperationInbound.Department" | translate }}
                          </th>
                          <th class="text-center custom-text-table">
                            {{ "EmployeeInformationModule.EmployeeTransferOperationInbound.Assigned/SupportedDivision" | translate }}
                          </th>
                          <th class="text-center custom-text-table">
                            {{ "EmployeeInformationModule.EmployeeTransferOperationInbound.Assigned/SupportedFactory" | translate }}
                          </th>
                          <th class="text-center custom-text-table">
                            {{ "EmployeeInformationModule.EmployeeTransferOperationInbound.Assigned/SupportedEmployeeID" | translate }}
                          </th>
                          <th class="text-center custom-text-table">
                            {{ "EmployeeInformationModule.EmployeeTransferOperationInbound.Assigned/SupportedDepartment" | translate }}
                          </th>
                          <th class="text-center">
                            {{ "EmployeeInformationModule.EmployeeTransferOperationInbound.PositionGrade" | translate }}
                          </th>
                          <th class="text-center custom-text-table">
                            {{ "EmployeeInformationModule.EmployeeTransferOperationInbound.PositionTitle" | translate }}
                          </th>
                          <th class="text-center custom-text-table">
                            {{ "EmployeeInformationModule.EmployeeTransferOperationInbound.WorkType/Job" | translate }}
                          </th>
                          <th class="text-center custom-text-table">
                            {{ "EmployeeInformationModule.EmployeeTransferOperationInbound.ReasonForChange" | translate }}
                          </th>
                          <th class="text-center">
                            {{ "EmployeeInformationModule.EmployeeTransferOperationInbound.EffectiveDate" | translate }}
                          </th>
                          <th class="text-center custom-text-table">
                            {{ "EmployeeInformationModule.EmployeeTransferOperationInbound.EffectiveStatus" | translate }}
                          </th>
                          <th class="text-center">
                            {{ "EmployeeInformationModule.EmployeeTransferOperationInbound.UpdateTime" | translate }}
                          </th>
                          <th class="text-center">
                            {{ "EmployeeInformationModule.EmployeeTransferOperationInbound.UpdateBy" | translate }}
                          </th>
                        </tr>
                      </thead>
                      <tbody *ngIf="data?.length > 0; else elseTemplate">
                        <ng-container *ngFor="let item of data; index as i">
                          <tr>
                            <td class="text-center transfer-out">{{ "EmployeeInformationModule.EmployeeTransferOperationInbound.TransferOut" | translate }}</td>
                            <td *ngIf="functionUtility.checkFunction('Edit')"
                                class="text-center custom-td-btn"
                                rowspan="2">
                              <button type="button"
                                      class="{{ classButton.tEDIT }}"
                                      (click)="edit(item)"
                                      [disabled]="item.effectiveStatusAfter">
                                <i class="{{ iconButton.EDIT }}"></i>
                                {{ "System.Action.Edit" | translate }}
                              </button>
                            </td>
                            <td class="text-center">{{ item.nationalityBefore }}</td>
                            <td class="text-center">{{ item.identificationNumberBefore }}</td>
                            <td class="text-center custom-text-table">{{ item.localFullNameBefore }}</td>
                            <td class="text-center">{{ item.divisionBefore }}</td>
                            <td class="text-center">{{ item.factoryBefore }}</td>
                            <td class="text-center">{{ item.employeeIDBefore }}</td>
                            <td class="text-center custom-text-table">{{ item.departmentBefore }}</td>
                            <td class="text-center">{{ item.assignedDivisionBefore }}</td>
                            <td class="text-center">{{ item.assignedFactoryBefore }}</td>
                            <td class="text-center">{{ item.assignedEmployeeIDBefore }}</td>
                            <td class="text-center custom-text-table">{{ item.assignedDepartmentBefore }}</td>
                            <td class="text-center">{{ item.positionGradeBefore }}</td>
                            <td class="text-center custom-text-table">{{ item.positionTitleBefore }}</td>
                            <td class="text-center custom-text-table">{{ item.workTypeBefore }}</td>
                            <td class="text-center custom-text-table">{{ item.reasonForChangeBefore }}</td>
                            <td class="text-center">{{ item.effectiveDateBefore | date : 'yyyy/MM/dd' }}</td>
                            <td class="text-center">{{ item.effectiveStatusBefore ? "Y" : "N" }}</td>
                            <td class="text-center">{{ item.updateTimeBefore | date : 'yyyy/MM/dd HH:mm:ss' }}</td>
                            <td class="text-center">{{ item.updateByBefore }}</td>
                          </tr>
                          <tr>
                            <td class="text-center transfer-in">{{ "EmployeeInformationModule.EmployeeTransferOperationInbound.TransferIn" | translate }}</td>
                            <td class="text-center">{{ item.nationalityAfter }}</td>
                            <td class="text-center">{{ item.identificationNumberAfter }}</td>
                            <td class="text-center custom-text-table">{{ item.localFullNameAfter }}</td>
                            <td class="text-center">{{ item.divisionAfter }}</td>
                            <td class="text-center">{{ item.factoryAfter }}</td>
                            <td class="text-center">{{ item.employeeIDAfter }}</td>
                            <td class="text-center custom-text-table">{{ item.departmentAfter }}</td>
                            <td class="text-center">{{ item.assignedDivisionAfter }}</td>
                            <td class="text-center">{{ item.assignedFactoryAfter }}</td>
                            <td class="text-center">{{ item.assignedEmployeeIDAfter }}</td>
                            <td class="text-center custom-text-table">{{ item.assignedDepartmentAfter }}</td>
                            <td class="text-center">{{ item.positionGradeAfter }}</td>
                            <td class="text-center custom-text-table">{{ item.positionTitleAfter }}</td>
                            <td class="text-center custom-text-table">{{ item.workTypeAfter }}</td>
                            <td class="text-center custom-text-table">{{ item.reasonForChangeAfter }}</td>
                            <td class="text-center">{{ item.effectiveDateAfter | date : 'yyyy/MM/dd' }}</td>
                            <td class="text-center">{{ item.effectiveStatusAfter ? "Y" : "N" }}</td>
                            <td class="text-center">{{ item.updateTimeAfter | date : 'yyyy/MM/dd HH:mm:ss' }}</td>
                            <td class="text-center">{{ item.updateByAfter }}</td>
                          </tr>
                        </ng-container>
                      </tbody>
                      <ng-template #elseTemplate>
                        <tbody>
                          <tr class="no-data">
                            <td colspan="100%"
                                class="table-warning text-center font-weight-bold">
                              {{ "System.Message.NoData" | translate }}
                            </td>
                          </tr>
                        </tbody>
                      </ng-template>
                    </table>
                  </drag-scroll>
                </div>
                <div class="row">
                  <div class="col-8">
                    <div class="d-flex"
                         *ngIf="data?.length > 0 && pagination.totalPage > 1">
                      <pagination name="pagination"
                                  [boundaryLinks]="true"
                                  [maxSize]="5"
                                  [totalItems]="pagination.totalCount"
                                  [itemsPerPage]="pagination.pageSize"
                                  (pageChanged)="pageChanged($event)"
                                  [(ngModel)]="pagination.pageNumber"
                                  previousText="&lsaquo;"
                                  nextText="&rsaquo;"
                                  firstText="&laquo;"
                                  lastText="&raquo;">
                      </pagination>
                      <span class="cs-page ml-2">
                        Page - {{ pagination.pageNumber }} / {{ pagination.totalPage }}
                      </span>
                    </div>
                  </div>
                  <div class="col-4">
                    <span class="cs-page float-right">{{ "System.Rows" | translate }} : {{ pagination.totalCount ?? 0 }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>