<div bsModal
     #modal="bs-modal"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     (onHide)="onHide()"
     aria-labelledby="modalTitle">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <!-- Header -->
      <div class="modal-header bg-primary">
        <h5 id="modalTitle">
          {{ title }} - {{ action | translate}}
        </h5>
        <button type="button"
                class="btn-close close pull-right"
                (click)="close()">
          <span class="visually-hidden">&times;</span>
        </button>
      </div>
      <!-- Body -->
      <div class="modal-body">
        <form #addForm="ngForm"
              autocomplete="off">
          <div class="row g-3 align-items-center mb-2">
            <!-- Division -->
            <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-6">
              <label class="badge badge-warning">
                {{"EmployeeInformationModule.ContractManagement.Division" | translate}}
                <span class="text-danger text-bold"> *</span>
              </label>
              <ng-select name="division"
                         [(ngModel)]="data.division"
                         [clearable]="data.division != ''"
                         (clear)="deleteProperty('division')"
                         [disabled]="isEdit"
                         (ngModelChange)="changeDivision()"
                         placeholder="{{'EmployeeInformationModule.ContractManagement.Division' | translate}}">
                <ng-option *ngFor="let item of division"
                           value="{{ item.key }}">{{ item.key }} - {{ item.value
              }}</ng-option>
              </ng-select>
            </div>
            <!-- Factory -->
            <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-6">
              <label class="badge badge-warning">
                {{"EmployeeInformationModule.ContractManagement.Factory" | translate}}
                <span class="text-danger text-bold"> *</span>
              </label>
              <ng-select name="factory"
                         [(ngModel)]="data.factory"
                         [clearable]="data.factory != ''"
                         (clear)="deleteProperty('factory')"
                         [disabled]="isEdit"
                         (ngModelChange)="changePerson()"
                         placeholder="{{'EmployeeInformationModule.ContractManagement.Factory' | translate}}">
                <ng-option *ngFor="let item of factory"
                           value="{{ item.key }}">{{ item.key }} - {{ item.value}}</ng-option>
              </ng-select>
            </div>
            <!-- EmployeeID -->
            <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-6">
              <label class="badge badge-warning">
                {{"EmployeeInformationModule.ContractManagement.EmployeeID" | translate}}
                <span class="text-danger text-bold"> *</span>
              </label>
              <div class="full-width">
                <div class="container_date">
                  <div class="input-group mr-1">
                    <input autocomplete="off"
                           type="text"
                           placeholder='{{"EmployeeInformationModule.ContractManagement.EmployeeID" | translate}}'
                           class="form-control"
                           name="employeeID"
                           maxlength="9"
                           [(ngModel)]="data.employee_ID"
                           [disabled]="isEdit"
                           (ngModelChange)="getPerson()"
                           typeaheadOptionField="key"
                           [typeahead]="employeeID"
                           [typeaheadScrollable]="true"
                           [typeaheadOptionsInScrollableView]="6"
                           (typeaheadOnSelect)="onTypehead($event)" />
                  </div>
                </div>
              </div>
            </div>
            <!-- Local Full Name -->
            <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6 col-sm-6">
              <label class="badge badge-warning">
                {{'EmployeeInformationModule.ContractManagement.LocalFullName'
            | translate}}
              </label>
              <input type="text"
                     class="form-control"
                     id="localFullName"
                     name="localFullName"
                     [(ngModel)]="data.local_Full_Name"
                     placeholder="{{'EmployeeInformationModule.ContractManagement.LocalFullName' | translate }}"
                     readonly />
            </div>
            <!-- Seq -->
            <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6 col-sm-6">
              <label class="badge badge-warning">
                {{'EmployeeInformationModule.ExternalExperience.Seq'
            | translate}}
              </label>
              <input type="number"
                     autocomplete="off"
                     class="form-control"
                     pattern="^[1-9][0-9]?$"
                     id="seq"
                     name="seq"
                     [(ngModel)]="data.seq"
                     min="1"
                     max="999"
                     required
                     oninput="if(this.value.length > 3) { this.value = this.value.slice(0,2);}"
                     onkeypress="return /[0-9]/i.test(event.key)"
                     onpaste="return false;"
                     placeholder="{{'EmployeeInformationModule.ExternalExperience.Seq' | translate }}"
                     readonly />
            </div>
            <!-- Department -->
            <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6 col-sm-6">
              <label class="badge badge-warning">{{"EmployeeInformationModule.ContractManagement.Department" |
            translate}}</label>
              <div class="full-width">
                <div class="container_date">
                  <div class="input-group mr-1">
                    <input autocomplete="off"
                           type="text"
                           placeholder='{{"EmployeeInformationModule.ContractManagement.Department" | translate}}'
                           class="form-control"
                           name="department"
                           maxlength="100"
                           [(ngModel)]="data.department"
                           disabled />
                  </div>
                </div>
              </div>
            </div>
            <!-- Onboard Date -->
            <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6 col-sm-6">
              <label class="badge badge-warning">{{"EmployeeInformationModule.ContractManagement.OnboardDate" |
            translate}}</label>
              <div class="full-width">
                <div class="container_date">
                  <div class="input-group mr-1">
                    <input autocomplete="off"
                           type="text"
                           placeholder='{{"EmployeeInformationModule.ContractManagement.OnboardDate" | translate}}'
                           bsDatepicker
                           [bsConfig]="bsConfig"
                           class="form-control"
                           name="onboardDate"
                           [(ngModel)]="data.onboard_Date"
                           readonly
                           disabled />
                    <div class="input-group-append">
                      <span class="input-group-text"><i class="{{iconButton.CALENDAR}}"></i></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Contract Type -->
            <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6 col-sm-6">
              <label class="badge badge-warning">
                {{"EmployeeInformationModule.ContractManagement.ContractType" | translate}}
                <span class="text-danger text-bold"> *</span>
              </label>
              <ng-select name="contract_Type"
                         [(ngModel)]="data.contract_Type"
                         [clearable]="data.contract_Type != ''"
                         (clear)="deleteProperty('contract_Type')"
                         (ngModelChange)="getProbationDate(true)"
                         [disabled]="!data.division || !data.factory"
                         placeholder="{{'EmployeeInformationModule.ContractManagement.ContractType' | translate}}">
                <ng-option *ngFor="let item of contractType"
                           value="{{ item.key }}">{{ item.key }} - {{
              item.value}}</ng-option>
              </ng-select>
            </div>
            <!-- Contract Start Date -->
            <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6 col-sm-6">
              <label class="badge badge-warning">
                {{"EmployeeInformationModule.ContractManagement.ContractStartDate"| translate}}
                <span class="text-danger text-bold"> *</span>
              </label>
              <div class="input-group">
                <input type="text"
                       autocomplete="off"
                       class="form-control"
                       bsDatepicker
                       name="contractStart"
                       [(ngModel)]="data.contract_Start"
                       [bsConfig]="bsConfig"
                       (ngModelChange)="getContractEnd()"
                       maxlength="10"
                       placeholder="YYYY/MM/DD"
                       [disabled]="data.contract_Type == ''"
                       (blur)="onContractStart()"
                       [minDate]="minDate" />
                <div class="input-group-append">
                  <span class="input-group-text"><i class="{{iconButton.CALENDAR}}"></i></span>
                </div>
              </div>
            </div>
            <!-- Contract End Date -->
            <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6 col-sm-6">
              <label class="badge badge-warning">
                {{"EmployeeInformationModule.ContractManagement.ContractEndDate" | translate}}
                <span class="text-danger text-bold"> *</span>
              </label>
              <div class="input-group">
                <input type="text"
                       autocomplete="off"
                       class="form-control"
                       bsDatepicker
                       name="contractEnd"
                       [(ngModel)]="data.contract_End"
                       [bsConfig]="bsConfig"
                       maxlength="10"
                       placeholder="YYYY/MM/DD"
                       [disabled]="data.contract_Type == ''"
                       [minDate]="minDateContract"
                       (blur)="onContractEnd()" />
                <div class="input-group-append">
                  <span class="input-group-text"><i class="{{iconButton.CALENDAR}}"></i></span>
                </div>
              </div>
            </div>
            <!-- Effective Status -->
            <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6 col-sm-6">
              <div class="form-group mb-0">
                <label class="badge badge-warning">{{'EmployeeInformationModule.ContractManagement.EffectiveStatus' |
              translate}}
                  <span class="text-danger text-bold"> *</span>
                </label>
                <div class="row pl-3">
                  <div *ngFor="let item of key; index as i">
                    <label class="container">
                      <div class="row">
                        <div class="custom-control custom-radio pt-2">
                          <input id="customRadio-{{i}}"
                                 class="custom-control-input"
                                 type="radio"
                                 checked="checked"
                                 name="customRadio-{{i}}"
                                 [(ngModel)]="selectedKey"
                                 [value]="item.key" />
                          <p class="custom-control-label"
                             for="customRadio-{{i}}">
                            <strong>
                              {{ item.value }}
                            </strong>
                          </p>
                        </div>
                      </div>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <h5 class="title-probation">{{"EmployeeInformationModule.ContractManagement.Probation" | translate}}</h5>
          <!-- <hr class="hr" /> -->
          <div class="row g-3 align-items-center border mb-2">
            <!-- Probation Start Date -->
            <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-6">
              <label class="badge badge-warning">
                {{"EmployeeInformationModule.ContractManagement.ProbationStartDate"| translate}}
              </label>
              <div class="input-group">
                <input type="text"
                       autocomplete="off"
                       class="form-control"
                       bsDatepicker
                       name="probationStart"
                       [(ngModel)]="data.probation_Start"
                       [bsConfig]="bsConfig"
                       (ngModelChange)="getProbationEnd()"
                       maxlength="10"
                       placeholder="YYYY/MM/DD"
                       [disabled]="!probation.probationary_Period"
                       (blur)="onProbationStart()" />
                <div class="input-group-append">
                  <span class="input-group-text"><i class="{{iconButton.CALENDAR}}"></i></span>
                </div>
              </div>
            </div>
            <!-- Probation End Date -->
            <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-6">
              <label class="badge badge-warning">
                {{"EmployeeInformationModule.ContractManagement.ProbationEndDate" | translate}}
              </label>
              <div class="input-group">
                <input type="text"
                       autocomplete="off"
                       class="form-control"
                       bsDatepicker
                       name="probationEnd"
                       [(ngModel)]="data.probation_End"
                       [bsConfig]="bsConfig"
                       maxlength="10"
                       placeholder="YYYY/MM/DD"
                       [disabled]="!probation.probationary_Period"
                       [minDate]="minDateProbation"
                       (blur)="onProbationEnd()" />
                <div class="input-group-append">
                  <span class="input-group-text"><i class="{{iconButton.CALENDAR}}"></i></span>
                </div>
              </div>
            </div>
            <!-- Assessment Result -->
            <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-6">
              <label class="badge badge-warning">
                {{"EmployeeInformationModule.ContractManagement.AssessmentResult" | translate}}
              </label>
              <ng-select name="assessmentResult"
                         [(ngModel)]="data.assessment_Result"
                         [clearable]="data.assessment_Result != ''"
                         (clear)="deleteProperty('assessment_Result')"
                         [disabled]="!probation.probationary_Period"
                         placeholder="{{'EmployeeInformationModule.ContractManagement.AssessmentResult' | translate}}">
                <ng-option *ngFor="let item of assessmentResult"
                           value="{{ item.key }}">{{ item.key }} - {{
              item.value}}</ng-option>
              </ng-select>
            </div>
            <!-- Extend to -->
            <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-6">
              <label class="badge badge-warning">
                {{"EmployeeInformationModule.ContractManagement.ExtendTo" | translate}}
              </label>
              <div class="input-group">
                <input type="text"
                       autocomplete="off"
                       class="form-control"
                       bsDatepicker
                       name="extend_to"
                       [(ngModel)]="data.extend_to"
                       [bsConfig]="bsConfig"
                       maxlength="10"
                       placeholder="YYYY/MM/DD"
                       [disabled]="!probation.probationary_Period"
                       (blur)="onExtendTo()" />
                <div class="input-group-append">
                  <span class="input-group-text"><i class="{{iconButton.CALENDAR}}"></i></span>
                </div>
              </div>
            </div>
            <!-- Reason -->
            <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-6">
              <label class="badge badge-warning">{{"EmployeeInformationModule.ContractManagement.ReasonText" |
            translate}}</label>
              <div class="full-width">
                <div class="container_date">
                  <div class="input-group mr-1">
                    <input autocomplete="off"
                           type="text"
                           placeholder='{{"EmployeeInformationModule.ContractManagement.Reason" | translate}}'
                           class="form-control"
                           name="Reason"
                           maxlength="100"
                           [(ngModel)]="data.reason"
                           [disabled]="!probation.probationary_Period" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- Footer -->
      <div class="modal-footer">
        <button type="button"
                class="btn btn-warning ml-2"
                (click)="saveAndContinue()"
                *ngIf="!isEdit"
                [disabled]="validateEmpty()">
          <i class="{{ iconButton.SAVE }}"></i>
          {{ "System.Action.SaveAndContinue" | translate }}
        </button>
        <button type="button"
                class="btn btn-success ml-2"
                (click)="save()"
                [disabled]="validateEmpty()">
          <i class="{{ iconButton.SAVE }}"></i>
          {{ "System.Action.Save" | translate }}
        </button>
        <button type="button"
                class="btn btn-danger ml-1"
                (click)="close()"><i class="{{iconButton.CLOSE}}"></i> {{
      'System.Action.Close' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>
