<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <div class="row border-title">
            <div class="col-md-12">
              <strong>{{ title }}</strong>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form class="form-horizontal border-shadow"
                autocomplete="off">
            <div class="row">
              <!-- Factory -->
              <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6">
                <label class="badge badge-warning">
                  {{"SalaryMaintenance.PersonalIncomeTaxNumberMaintenance.Factory" | translate}}
                  <span class="text-danger">*</span>
                </label>
                <ng-select name="factory"
                           [(ngModel)]="param.factory"
                           (clear)="deleteProperty('factory')"
                           [clearable]="param.factory !== ''"
                           placeholder='{{"SalaryMaintenance.PersonalIncomeTaxNumberMaintenance.Factory" | translate}}'>
                  <ng-option *ngFor="let i of listFactory"
                             [value]="i.key">{{i.value}}</ng-option>
                </ng-select>
              </div>

              <!-- Year -->
              <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6">
                <label class="badge badge-warning">
                  {{'SalaryMaintenance.PersonalIncomeTaxNumberMaintenance.Year'| translate}}
                </label>
                <div class="full-width">
                  <div class="container_input">
                    <div class="input-group mr-1">
                      <input type="text"
                             autocomplete="off"
                             class="form-control"
                             bsDatepicker
                             name="year"
                             (keypress)="validateNumber($event)"
                             [(ngModel)]=" param.year_Date"
                             (ngModelChange)="onDateChange()"
                             [bsConfig]="bsConfig"
                             maxlength="4"
                             onpaste="return false;"
                             placeholder="{{placeholder.Year}}"/>
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="{{iconButton.CALENDAR}}"></i></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- EmployeeID -->
              <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6">
                <label class="badge badge-warning">
                  {{"SalaryMaintenance.PersonalIncomeTaxNumberMaintenance.EmployeeID" | translate}}
                </label>
                <input type="text"
                       class="form-control"
                       maxlength="9"
                       name="employee_ID"
                       [(ngModel)]="param.employee_ID"
                       placeholder="{{'SalaryMaintenance.PersonalIncomeTaxNumberMaintenance.EmployeeID' | translate}}" />
              </div>

              <!-- Submit Button -->
              <div class="col-xxl-9 col-xl-12 col-lg-12 col-md-12">
                <label class="d-block">&nbsp;</label>
                <!-- Search -->
                <button *ngIf="functionUtility.checkFunction('Search')"
                        type="submit"
                        [disabled]="!param.factory"
                        class="btn btn-primary mr-2 "
                        (click)="search(true)">
                  <i class="{{iconButton.SEARCH}}"></i> {{"System.Action.Search" | translate }}
                </button>
                <!-- Clear -->
                <button type="button"
                        class="btn btn-danger mr-2 "
                        (click)="clear()">
                  <i class="{{ iconButton.CLEAR }}"></i> {{"System.Action.Clear" | translate }}
                </button>
                <!-- Add -->
                <button *ngIf="functionUtility.checkFunction('Add')"
                        type="button"
                        class="btn btn-success mr-2 "
                        (click)="add()">
                  <i class="{{iconButton.ADD}}"></i> {{"System.Action.Add" | translate }}
                </button>
                <!-- Download -->
                <button *ngIf="functionUtility.checkFunction('Excel')"
                        type="button"
                        class="btn btn-success mr-2"
                        [disabled]="!param.factory"
                        (click)="download(false)">
                  <i class="{{iconButton.EXCEL}}"></i> {{"System.Action.Excel" | translate }}
                </button>
                <!-- Upload -->
                <file-upload [allowExtensions]="accept"
                             [label]="'System.Action.Upload' | translate "
                             (filesChange)="upload($event, true)"
                             [hidden]="!functionUtility.checkFunction('Upload')"></file-upload>
                <!-- Download Template -->
                <button *ngIf="functionUtility.checkFunction('Upload')"
                        type="button"
                        class="btn btn-primary mr-2"
                        (click)="download(true)">
                  <i class="{{iconButton.EXCEL}}"></i>
                  {{'System.Action.ExcelTemplate' | translate }}
                </button>
              </div>
            </div>
          </form>
          <div class="row justify-content-md-center">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th *ngIf="functionUtility.checkFunction('Edit') || functionUtility.checkFunction('Delete')"
                          class="text-center vertical-align-middle"
                          [attr.colspan]="functionUtility.getColspan(['Edit','Delete'])">
                        {{ 'SalaryMaintenance.PersonalIncomeTaxNumberMaintenance.Operation' | translate }}
                      </th>
                      <th class="text-center vertical-align-middle">
                        {{"SalaryMaintenance.PersonalIncomeTaxNumberMaintenance.Factory" | translate }}
                      </th>
                      <th class="text-center vertical-align-middle">
                        {{"SalaryMaintenance.PersonalIncomeTaxNumberMaintenance.Year" | translate }}
                      </th>
                      <th class="text-center vertical-align-middle">
                        {{"SalaryMaintenance.PersonalIncomeTaxNumberMaintenance.EmployeeID" | translate }}
                      </th>
                      <th class="text-center vertical-align-middle">
                        {{"SalaryMaintenance.PersonalIncomeTaxNumberMaintenance.Department" | translate }}
                      </th>
                      <th class="text-center vertical-align-middle">
                        {{"SalaryMaintenance.PersonalIncomeTaxNumberMaintenance.LocalFullName" | translate }}
                      </th>
                      <th class="text-center vertical-align-middle">
                        {{"SalaryMaintenance.PersonalIncomeTaxNumberMaintenance.TaxNo" | translate }}
                      </th>
                      <th class="text-center vertical-align-middle">
                        {{"SalaryMaintenance.PersonalIncomeTaxNumberMaintenance.Dependents" | translate }}
                      </th>
                      <th class="text-center vertical-align-middle">
                        {{"SalaryMaintenance.PersonalIncomeTaxNumberMaintenance.UpdateBy" | translate }}
                      </th>
                      <th class="text-center vertical-align-middle">
                        {{"SalaryMaintenance.PersonalIncomeTaxNumberMaintenance.UpdateTime" | translate }}
                      </th>
                    </tr>
                  </thead>
                  <tbody *ngIf="data.length > 0; else dataNotFound">
                    <tr *ngFor="let item of data">
                      <td *ngIf="functionUtility.checkFunction('Edit')"
                          class="text-center vertical-align-middle-button">
                        <button class="btn btn-warning btn-sm"
                                (click)="edit(item)">
                          <i class="{{iconButton.EDIT}}"
                             aria-hidden="true"></i>
                          {{'System.Action.Edit' | translate}}
                        </button>
                      </td>
                      <td *ngIf="functionUtility.checkFunction('Delete')"
                          class="text-center vertical-align-middle-button">
                        <button class="btn btn-danger btn-sm"
                                (click)="delete(item, true)"
                                [disabled]="item.isDeleteDisable">
                          <i class="{{iconButton.DELETE}}"
                             aria-hidden="true"></i>
                          {{'System.Action.Delete' | translate}}
                        </button>
                      </td>
                      <td class="text-center vertical-align-middle">{{item.factory}}</td>
                      <td class="text-center vertical-align-middle">{{item.year}}</td>
                      <td class="text-center vertical-align-middle">{{item.employee_ID}}</td>
                      <td class="text-center vertical-align-middle">{{item.department_Code_Name}}</td>
                      <td class="text-center vertical-align-middle">{{item.local_Full_Name}}</td>
                      <td class="text-center vertical-align-middle">{{item.taxNo}}</td>
                      <td class="text-center vertical-align-middle">{{item.dependents}}</td>
                      <td class="text-center vertical-align-middle">{{item.update_By}}</td>
                      <td class="text-center vertical-align-middle">{{item.update_Time | date:'yyyy/MM/dd HH:mm:ss'}}
                      </td>
                    </tr>
                  </tbody>
                  <ng-template #dataNotFound>
                    <tbody>
                      <tr>
                        <td colspan="100%"
                            class="table-warning text-center font-weight-bold">
                          {{"System.Message.NoData" | translate }}
                        </td>
                      </tr>
                    </tbody>
                  </ng-template>
                </table>
              </div>
              <div class="row">
                <div class="col-8">
                  <div class="d-flex"
                       *ngIf="data?.length > 0 && pagination.totalPage > 1">
                    <pagination [boundaryLinks]="true"
                                [totalItems]="pagination.totalCount"
                                [itemsPerPage]="pagination.pageSize"
                                previousText="&lsaquo;"
                                nextText="&rsaquo;"
                                firstText="&laquo;"
                                lastText="&raquo;"
                                [maxSize]="5"
                                [(ngModel)]="pagination.pageNumber"
                                (pageChanged)="pageChanged($event)">
                    </pagination>
                    <span class="cs-page ml-2"> Page - {{ pagination.pageNumber }} / {{ pagination.totalPage }}</span>
                  </div>
                </div>
                <div class="col-4">
                  <span class="cs-page float-right ">{{'System.Rows' | translate }} : {{pagination.totalCount}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
