<div class="animated fadeIn">
  <div>
    <div class="card">
      <div class="card-header">
        <div class="row border-title">
          <div class="col-md-12">
            <strong class="title-card-cs"> {{title }}</strong>
          </div>
        </div>
      </div>
      <tab-component [tabs]="tabs"
                     [(tabId)]="selectedTab"
                     (tabIdChange)="changeTab()"></tab-component>
    </div>
  </div>
</div>

<ng-template #salarySearchTab>
  <form class="form-horizontal"
        autocomplete="off"
        #salarySearchSubForm="ngForm">
    <div class="row border-shadow">
      <!-- Year Month -->
      <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 mb-2">
        <label class="badge badge-warning">
          {{this.i18n + 'YearMonth'| translate}}
          <span class="text-danger">*</span>
        </label>
        <div class="full-width">
          <div class="container_input">
            <div class="input-group mr-1">
              <input type="text"
                     autocomplete="off"
                     placeholder="{{placeholder.YearMonth}}"
                     name="monthSalaryGeneration"
                     [bsConfig]="bsConfig"
                     class="form-control"
                     bsDatepicker
                     (keypress)="validateYearMonth($event)"
                     [(ngModel)]="salarySearch_Param.year_Month"
                     (ngModelChange)="onDateChange()"
                     onpaste="return false"
                     required />
              <div class="input-group-append">
                <span class="input-group-text"><i class="{{ iconButton.CALENDAR }}"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Factory -->
      <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 mb-2">
        <label class="badge badge-warning">
          {{this.i18n + "Factory" | translate}}
          <span class="text-danger">*</span>
        </label>
        <ng-select name="factory"
                   [(ngModel)]="salarySearch_Param.factory"
                   (clear)="deleteProperty('factory')"
                   [clearable]="salarySearch_Param.factory !== ''"
                   (ngModelChange)="onChangeFactory()"
                   placeholder='{{this.i18n + "Factory" | translate}}'
                   required>
          <ng-option *ngFor="let i of listFactory"
                     [value]="i.key">{{i.value}}</ng-option>
        </ng-select>
      </div>

      <!-- Department -->
      <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 mb-2">
        <label class="badge badge-warning">
          {{this.i18n + "Department" | translate}}
        </label>
        <ng-select name="department"
                   [(ngModel)]="salarySearch_Param.department"
                   (clear)="deleteProperty('department')"
                   [clearable]="salarySearch_Param.department !== ''"
                   [disabled]="!salarySearch_Param.factory"
                   placeholder='{{this.i18n + "Department" | translate}}'>
          <ng-option *ngFor="let i of listDepartment"
                     [value]="i.key">{{i.value}}</ng-option>
        </ng-select>
      </div>

      <!-- EmployeeID -->
      <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 mb-2">
        <label class="badge badge-warning">
          {{this.i18n + "EmployeeID" | translate}}
        </label>
        <input type="text"
               class="form-control"
               maxlength="16"
               name="employee_ID"
               [(ngModel)]="salarySearch_Param.employee_ID"
               placeholder="{{this.i18n + 'EmployeeID' | translate}}" />
      </div>

      <!-- Employment Status -->
      <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 mb-2">
        <label class="badge badge-warning">
          {{this.i18n + "EmploymentStatus" | translate}}
        </label>
        <ng-select name="employment_Status"
                   [(ngModel)]="salarySearch_Param.employment_Status"
                   (clear)="deleteProperty('employment_Status')"
                   [clearable]="salarySearch_Param.employment_Status !== ''"
                   placeholder='{{this.i18n + "EmploymentStatus" | translate}}'>
          <ng-option *ngFor="let i of listEmploymentStatus"
                     [value]="i.key">{{i.value | translate}}</ng-option>
        </ng-select>
      </div>

      <!-- Position Title -->
      <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 mb-2">
        <label class="badge badge-warning">
          {{this.i18n + "PositionTitle" | translate}}
        </label>
        <ng-select name="position_Title"
                   [(ngModel)]="salarySearch_Param.position_Title"
                   (clear)="deleteProperty('position_Title')"
                   [clearable]="salarySearch_Param.position_Title !== ''"
                   placeholder='{{this.i18n + "PositionTitle" | translate}}'>
          <ng-option *ngFor="let i of listPositionTitle"
                     [value]="i.key">{{i.value}}</ng-option>
        </ng-select>
      </div>

      <!-- Salary Type -->
      <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 mb-2">
        <label class="badge badge-warning">
          {{this.i18n + "SalaryType" | translate}}
        </label>
        <ng-select name="salary_Type"
                   [(ngModel)]="salarySearch_Param.salary_Type"
                   (clear)="deleteProperty('salary_Type')"
                   [clearable]="salarySearch_Param.salary_Type !== ''"
                   placeholder='{{this.i18n + "SalaryType" | translate}}'>
          <ng-option *ngFor="let i of listSalaryType"
                     [value]="i.key">{{i.value}}</ng-option>
        </ng-select>
      </div>

      <!-- Salary Level -->
      <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 mb-2">
        <label for="salaryLevel"
               class="badge badge-warning">
          {{ "SalaryMaintenance.SalaryMasterFile.Salary" | translate }}
        </label>
        <div class="full-width">
          <div class="container_input">
            <div class="input-group mr-1">
              <input autocomplete="off"
                     type="text"
                     placeholder="{{'SalaryMaintenance.SalaryMasterFile.Grade' | translate }}"
                     class="form-control text-center"
                     name="salaryGrade"
                     [(ngModel)]="salarySearch_Param.salary_Grade"
                     (keypress)="validateDecimal($event, 15)"
                     (paste)="preventPaste($event)" />
              <div class="input-group-append">
                <span class="input-group-text">{{'SalaryMaintenance.SalaryMasterFile.Grade' | translate }}</span>
              </div>
            </div>
            <div class="input-group ml-1">
              <input autocomplete="off"
                     type="text"
                     placeholder="{{'SalaryMaintenance.SalaryMasterFile.Level' | translate }}"
                     class="form-control text-center"
                     name="salaryLevel"
                     [(ngModel)]="salarySearch_Param.salary_Level"
                     (keypress)="validateDecimal($event, 9)"
                     (paste)="preventPaste($event)" />
              <div class="input-group-append">
                <span class="input-group-text">{{'SalaryMaintenance.SalaryMasterFile.Level' | translate }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Permission Group -->
      <div class="col-12">
        <div class="row">
          <div class="col-auto">
            <div class="mb-0">
              <label class="badge badge-warning">
                {{ this.i18n + "PermissionGroup" | translate }}
                <span class="text-danger text-bold"> *</span>
              </label>
              <ng-select id="permission_Group"
                         name="permission_Group"
                         [items]="listPermissionGroup"
                         [multiple]="true"
                         groupBy="allGroup"
                         [selectableGroup]="true"
                         [selectableGroupAsModel]="false"
                         [closeOnSelect]="false"
                         bindLabel="value"
                         bindValue="key"
                         [(ngModel)]="salarySearch_Param.permission_Group"
                         placeholder="{{ this.i18n + 'PermissionGroup' | translate }}"
                         required>
                <ng-template ng-optgroup-tmp
                             let-item="item"
                             let-item$="item$"
                             let-index="index">
                  <div class="custom-control custom-checkbox pe-none">
                    <input id="item-{{ index }}"
                           type="checkbox"
                           class="custom-control-input"
                           name="item-{{ index }}"
                           [ngModel]="item$.selected" />
                    <label class="custom-control-label"
                           for="item-{{ index }}">{{'System.Action.SelectAll' | translate }}</label>
                  </div>
                </ng-template>
                <ng-template ng-option-tmp
                             let-item="item"
                             let-item$="item$"
                             let-index="index">
                  <div class="custom-control custom-checkbox pe-none">
                    <input id="item-{{ index }}"
                           name="item-{{ index }}"
                           type="checkbox"
                           class="custom-control-input"
                           [ngModel]="item$.selected" />
                    <label class="custom-control-label"
                           for="item-{{ index }}"> {{ item.value }}</label>
                  </div>
                </ng-template>
              </ng-select>
            </div>
          </div>
        </div>
      </div>

      <!-- Submit Button -->
      <div class="col-xxl-9 col-xl-12 col-lg-12 col-md-12">
        <label class="d-block">&nbsp;</label>
        <!-- Search -->
        <button *ngIf="functionUtility.checkFunction('Search')"
                type="submit"
                [disabled]="!salarySearchSubForm.valid"
                class="btn btn-primary mr-2 "
                (click)="search(true)">
          <i class="{{iconButton.SEARCH}}"></i> {{"System.Action.Search" | translate }}
        </button>
        <!-- Clear -->
        <button type="button"
                class="btn btn-danger mr-2 "
                (click)="clear()">
          <i class="{{ iconButton.CLEAR }}"></i> {{"System.Action.Clear" | translate }}
        </button>
        <button type="submit"
                class="btn btn-success ml-1"
                id="excel"
                (click)="download()"
                [disabled]="!salarySearchSubForm.valid"
                *ngIf="functionUtility.checkFunction('Excel')">
          <i class="{{iconButton.EXCEL}}"></i> {{"System.Action.Excel" | translate }}
        </button>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th *ngIf="functionUtility.checkFunction('Query') "
                    class="text-center vertical-align-middle"
                    [attr.colspan]="functionUtility.getColspan(['Query'])">
                  {{ this.i18n + 'Operation' | translate }}
                </th>
                <th class="text-center vertical-align-middle">
                  {{this.i18n + "Probation" | translate }}
                </th>
                <th class="text-center vertical-align-middle">
                  {{this.i18n + "YearMonth" | translate }}
                </th>
                <th class="text-center vertical-align-middle">
                  {{this.i18n + "Factory" | translate }}
                </th>
                <th class="text-center vertical-align-middle">
                  {{this.i18n + "Department" | translate }}
                </th>
                <th class="text-center vertical-align-middle">
                  {{this.i18n + "EmployeeID" | translate }}
                </th>
                <th class="text-center vertical-align-middle">
                  {{this.i18n + "LocalFullName" | translate }}
                </th>
                <th class="text-center vertical-align-middle">
                  {{this.i18n + "EmploymentStatus" | translate }}
                </th>
                <th class="text-center vertical-align-middle">
                  {{this.i18n + "PositionTitle" | translate }}
                </th>
                <th class="text-center vertical-align-middle">
                  {{this.i18n + "PermissionGroup" | translate }}
                </th>
                <th class="text-center vertical-align-middle">
                  {{this.i18n + "SalaryType" | translate }}
                </th>
                <th class="text-center vertical-align-middle">
                  {{this.i18n + "SalaryGrade" | translate }}
                </th>
                <th class="text-center vertical-align-middle">
                  {{this.i18n + "SalaryLevel" | translate }}
                </th>
                <th class="text-center vertical-align-middle">
                  {{this.i18n + "Currency" | translate }}
                </th>
                <th class="text-center vertical-align-middle">
                  {{this.i18n + "UpdateBy" | translate }}
                </th>
                <th class="text-center vertical-align-middle">
                  {{this.i18n + "UpdateTime" | translate }}
                </th>
              </tr>
            </thead>
            <tbody *ngIf="salarySearch_Data.length > 0; else dataNotFound">
              <tr *ngFor="let item of salarySearch_Data">
                <td *ngIf="functionUtility.checkFunction('Query')"
                    class="text-center vertical-align-middle">
                  <button class="btn btn-info btn-sm"
                          (click)="query(item)">
                    <i class="{{iconButton.VIEW}}"
                       aria-hidden="true"></i>
                    {{'System.Action.Query' | translate}}
                  </button>
                </td>
                <td class="text-center vertical-align-middle">{{item.probation}}</td>
                <td class="text-center vertical-align-middle">{{item.yearMonth}}</td>
                <td class="text-center vertical-align-middle">{{item.factory}}</td>
                <td class="text-center vertical-align-middle">{{item.department}}</td>
                <td class="text-center vertical-align-middle">{{item.employee_ID}}</td>
                <td class="text-center vertical-align-middle">{{item.local_Full_Name}}</td>
                <td class="text-center vertical-align-middle">{{item.employment_Status}}</td>
                <td class="text-center vertical-align-middle">{{item.position_Title}}</td>
                <td class="text-center vertical-align-middle">{{item.permission_Group}}</td>
                <td class="text-center vertical-align-middle">{{item.salary_Type}}</td>
                <td class="text-center vertical-align-middle">{{item.salary_Grade}}</td>
                <td class="text-center vertical-align-middle">{{item.salary_Level}}</td>
                <td class="text-center vertical-align-middle">{{item.currency}}</td>
                <td class="text-center vertical-align-middle">{{item.update_By}}</td>
                <td class="text-center vertical-align-middle">{{item.update_Time | date:'yyyy/MM/dd HH:mm:ss'}}
                </td>
              </tr>
            </tbody>
            <ng-template #dataNotFound>
              <tbody>
                <tr>
                  <td colspan="100%"
                      class="table-warning text-center font-weight-bold">
                    {{"System.Message.NoData" | translate }}
                  </td>
                </tr>
              </tbody>
            </ng-template>
          </table>
        </div>
        <div class="row">
          <div class="col-8">
            <div class="d-flex"
                 *ngIf="salarySearch_Data?.length > 0 && pagination.totalPage > 1">
              <pagination name="pagination"
                          [boundaryLinks]="true"
                          [totalItems]="pagination.totalCount"
                          [itemsPerPage]="pagination.pageSize"
                          previousText="&lsaquo;"
                          nextText="&rsaquo;"
                          firstText="&laquo;"
                          lastText="&raquo;"
                          [maxSize]="5"
                          [(ngModel)]="pagination.pageNumber"
                          (pageChanged)="pageChanged($event)">
              </pagination>
              <span class="cs-page ml-2"> Page - {{ pagination.pageNumber }} / {{ pagination.totalPage }}</span>
            </div>
          </div>
          <div class="col-4">
            <span class="cs-page float-right ">{{'System.Rows' | translate }} : {{pagination.totalCount}}</span>
          </div>
        </div>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #batchDataTab>
  <form class="form-horizontal"
        autocomplete="off"
        #batchDataSubForm="ngForm">
    <div class="row border-shadow">
      <div class="col-12">
        <div class="row">
          <!-- Factory -->
          <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-12">
            <label class="badge badge-warning">{{this.i18n + 'Factory' | translate }}
              <span class="text-danger"> *</span></label>
            <ng-select name="factoryMonthSalary"
                       [ngModel]="batchData_Param.factory"
                       (clear)="deleteProperty('factory')"
                       (ngModelChange)="batchData_Param.factory = $event"
                       [clearable]="batchData_Param.factory!== ''"
                       placeholder="{{this.i18n + 'Factory' | translate }}"
                       required>
              <ng-option *ngFor="let item of listFactory"
                         [value]="item.key">{{ item.value }}</ng-option>
            </ng-select>
          </div>
          <!-- Year Month -->
          <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-12">
            <label class="badge badge-warning">{{this.i18n + 'YearMonth' | translate }}
              <span class="text-danger"> *</span></label>
            <div class="full-width">
              <div class="container_input">
                <div class="input-group mr-1">
                  <input type="text"
                         autocomplete="off"
                         placeholder="{{placeholder.YearMonth}}"
                         name="monthSalaryGeneration"
                         [bsConfig]="bsConfig"
                         class="form-control"
                         bsDatepicker
                         [(ngModel)]="batchData_Param.year_Month"
                         (ngModelChange)="onDateChange()"
                         onpaste="return false"
                         required />
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="{{ iconButton.CALENDAR }}"></i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <label class="d-block">&nbsp;</label>
            <button *ngIf="this.functionUtility.checkFunction('Execute')"
                    type="button"
                    class="{{ classButton.SAVE }}"
                    [disabled]="!batchDataSubForm.valid"
                    (click)="execute()">
              {{ "System.Action.Execute" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</ng-template>
