<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <form class="form-horizontal"
              autocomplete="off">
          <div class="card-header">
            <div class="row border-title">
              <div class="col-md-12">
                <strong class="title-card-cs">{{ title }}</strong>
              </div>
            </div>
          </div>
        </form>
        <div class="card-body">
          <div class="row border-shadow">

            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4">
              <label class="badge badge-warning"> {{ 'AttendanceMaintenance.SwipeCardDataUpload.Factory' | translate}} <span class="text-danger text-bold"> *</span></label>
              <ng-select name="factory"
                         [(ngModel)]="param.factory"
                         placeholder="{{ 'AttendanceMaintenance.SwipeCardDataUpload.Factory' | translate }}"
                         [clearable]="false">
                <ng-option [value]="''">{{ 'System.SelectAll' | translate}}</ng-option>
                <ng-option *ngFor="let factory of factories"
                           [value]="factory.key">{{factory.value}}</ng-option>
              </ng-select>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4">
              <label class="badge badge-warning"> {{ 'AttendanceMaintenance.SwipeCardDataUpload.ProcessedRecords' | translate}} </label>
              <input type="text"
                     class="form-control"
                     disabled
                     name="processedRecords"
                     [(ngModel)]="processedRecords"
                     placeholder="{{ 'AttendanceMaintenance.SwipeCardDataUpload.ProcessedRecords' | translate}}">
            </div>

            <!-- ACTIONS -->
            <div *ngIf="functionUtility.checkFunction('Execute')"
                 class="col-xl-3 col-lg-3 col-md-4 col-sm-4">
              <label>&nbsp;</label>
              <div>
                <file-upload [allowExtensions]="accept"
                             [label]="'AttendanceMaintenance.SwipeCardDataUpload.UploadTitle' | translate "
                             (filesChange)="upload($event)"></file-upload>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
