<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <div class="row border-title">
            <div class="col-md-12">
              <strong>{{ title }}</strong>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form class="form-horizontal border-shadow"
                autocomplete="off"
                #mainForm="ngForm">
            <div class="row">
              <div class="col-xxl-3 col-xl-4 col-lg-6 col-sm-12 col-md-6 ">
                <label class="badge badge-warning">
                  {{"AttendanceMaintenance.MonthlyAttendanceDataMaintenanceActiveEmployees.Factory" | translate }}
                  <span class="text-danger text-bold">*</span>
                </label>
                <ng-select name="factory"
                           [(ngModel)]="param.factory"
                           [clearable]="param.factory !== ''"
                           (clear)="deleteProperty('factory')"
                           (ngModelChange)="changeFactory()"
                           placeholder="{{'AttendanceMaintenance.MonthlyAttendanceDataMaintenanceActiveEmployees.Factory' | translate }}"
                           required>
                  <ng-option *ngFor="let data of listFactory"
                             [value]="data.key">{{data.value}}
                  </ng-option>
                </ng-select>
              </div>
              <div class="col-xxl-3 col-xl-4 col-lg-6 col-sm-12 col-md-6">
                <label class="badge badge-warning">
                  {{"AttendanceMaintenance.MonthlyAttendanceDataMaintenanceActiveEmployees.YearMonth" |
                  translate }}
                  <span class="text-danger text-bold">*</span>
                </label>
                <div class="full-width">
                  <div class="container_input">
                    <div class="input-group mr-2">
                      <input type="text"
                             autocomplete="off"
                             placeholder="YYYY/MM"
                             name="att_Month_Start"
                             [maxDate]="att_Month_End"
                             [bsConfig]="bsConfig"
                             class="form-control"
                             bsDatepicker
                             [(ngModel)]="att_Month_Start"
                             (ngModelChange)="onDateChange('att_Month_Start')"
                             onpaste="return false"
                             required />
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="{{ iconButton.CALENDAR }}"></i>
                        </span>
                      </div>
                    </div>
                    <div class="input-group">
                      <input type="text"
                             autocomplete="off"
                             placeholder="YYYY/MM"
                             name="att_Month_End"
                             [minDate]="att_Month_Start"
                             [bsConfig]="bsConfig"
                             class="form-control"
                             bsDatepicker
                             [(ngModel)]="att_Month_End"
                             (ngModelChange)="onDateChange('att_Month_End')"
                             onpaste="return false"
                             required />
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="{{ iconButton.CALENDAR }}"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xxl-3 col-xl-4 col-lg-6 col-sm-12 col-md-6 ">
                <label class="badge badge-warning">
                  {{"AttendanceMaintenance.MonthlyAttendanceDataMaintenanceActiveEmployees.EmployeeID" | translate }}
                </label>
                <input type="text"
                       class="form-control"
                       name="employee_ID"
                       maxlength="9"
                       [(ngModel)]="param.employee_ID"
                       placeholder="{{'AttendanceMaintenance.MonthlyAttendanceDataMaintenanceActiveEmployees.EmployeeID' | translate }}" />
              </div>
              <div class="col-xxl-3 col-xl-4 col-lg-6 col-sm-12 col-md-6 ">
                <label class="badge badge-warning">
                  {{"AttendanceMaintenance.MonthlyAttendanceDataMaintenanceActiveEmployees.SalaryWorkDays" | translate }}
                </label>
                <input type="number"
                       class="form-control"
                       name="salary_Days"
                       [(ngModel)]="param.salary_Days"
                       placeholder="{{'AttendanceMaintenance.MonthlyAttendanceDataMaintenanceActiveEmployees.SalaryWorkDays' | translate }}" />
              </div>
              <div class="col-xxl-3 col-xl-4 col-lg-6 col-sm-12 col-md-6 ">
                <label class="badge badge-warning">
                  {{"AttendanceMaintenance.MonthlyAttendanceDataMaintenanceActiveEmployees.Department" | translate }}
                </label>
                <ng-select name="department"
                           [clearable]="param.department !== ''"
                           [(ngModel)]="param.department"
                           placeholder="{{'AttendanceMaintenance.MonthlyAttendanceDataMaintenanceActiveEmployees.Department' | translate }}"
                           (clear)="deleteProperty('department')">
                  <ng-option *ngFor="let data of listDepartment"
                             [value]="data.key">{{data.key}} - {{data.value}}
                  </ng-option>
                </ng-select>
              </div>
            </div>
            <div class="col-12 p-0">
              <label class="d-block">&nbsp;</label>
              <button type="submit"
                      class="btn btn-primary"
                      (click)="search()"
                      *ngIf="functionUtility.checkFunction('Search')"
                      [disabled]="!mainForm.valid">
                <i class="{{ iconButton.SEARCH }}"></i> {{"System.Action.Search" | translate }}
              </button>
              <button type="button"
                      class="btn btn-danger ml-1"
                      (click)="clear()">
                <i class="{{ iconButton.CLEAR }}"></i> {{"System.Action.Clear" | translate }}
              </button>
              <button type="button"
                      (click)="add()"
                      class="btn btn-success ml-1"
                      id="add"
                      *ngIf="functionUtility.checkFunction('Add')">
                <i class="{{ iconButton.ADD }}"></i> {{"System.Action.Add" | translate }}
              </button>
              <button type="submit"
                      class="btn btn-success ml-1"
                      id="excel"
                      (click)="download()"
                      [disabled]="data?.length == 0 || checkParam()"
                      *ngIf="functionUtility.checkFunction('Excel')">
                <i class="{{iconButton.EXCEL}}"></i> {{"System.Action.Excel" | translate }}
              </button>
            </div>
          </form>
          <div class="row justify-content-md-center">
            <div class="col-12">
              <div class="table-responsive">
                <drag-scroll id="dragscroll"
                             (dragStart)="functionUtility.setTextSelector(false)"
                             (dragEnd)="functionUtility.setTextSelector(true)">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th class="text-center text-nowrap"
                            *ngIf="functionUtility.checkFunction('Edit') || functionUtility.checkFunction('Query')"
                            [attr.colspan]="functionUtility.getColspan(['Query','Edit'])">
                          {{"System.Action.Operation" | translate }}
                        </th>
                        <th class="text-center text-nowrap">
                          {{"AttendanceMaintenance.MonthlyAttendanceDataMaintenanceActiveEmployees.Pass" | translate }}
                        </th>
                        <th class="text-center text-nowrap">
                          {{"AttendanceMaintenance.MonthlyAttendanceDataMaintenanceActiveEmployees.Factory" | translate }}
                        </th>
                        <th class="text-center text-nowrap">
                          {{"AttendanceMaintenance.MonthlyAttendanceDataMaintenanceActiveEmployees.YearMonth" | translate }}
                        </th>
                        <th class="text-center text-nowrap">
                          {{"AttendanceMaintenance.MonthlyAttendanceDataMaintenanceActiveEmployees.Department" | translate }}
                        </th>
                        <th class="text-center text-nowrap">
                          {{"AttendanceMaintenance.MonthlyAttendanceDataMaintenanceActiveEmployees.EmployeeID" | translate }}
                        </th>
                        <th class="text-center text-nowrap">
                          {{"AttendanceMaintenance.MonthlyAttendanceDataMaintenanceActiveEmployees.LocalFullName" | translate }}
                        </th>
                        <th class="text-center text-nowrap">
                          {{"AttendanceMaintenance.MonthlyAttendanceDataMaintenanceActiveEmployees.NewHiredResigned" | translate }}
                        </th>
                        <th class="text-center text-nowrap">
                          {{"AttendanceMaintenance.MonthlyAttendanceDataMaintenanceActiveEmployees.Probation" | translate }}
                        </th>
                        <th class="text-center text-nowrap">
                          {{"AttendanceMaintenance.MonthlyAttendanceDataMaintenanceActiveEmployees.PermissionGroup" | translate }}
                        </th>
                        <th class="text-center text-nowrap">
                          {{"AttendanceMaintenance.MonthlyAttendanceDataMaintenanceActiveEmployees.SalaryType" | translate }}
                        </th>
                        <th class="text-center text-nowrap">
                          {{"AttendanceMaintenance.MonthlyAttendanceDataMaintenanceActiveEmployees.SalaryWorkDays" | translate }}
                        </th>
                        <th class="text-center text-nowrap">
                          {{"AttendanceMaintenance.MonthlyAttendanceDataMaintenanceActiveEmployees.ActualWorkDays" | translate }}
                        </th>
                        <th class="text-center text-nowrap">
                          {{"AttendanceMaintenance.MonthlyAttendanceDataMaintenanceActiveEmployees.UpdateBy" | translate }}
                        </th>
                        <th class="text-center text-nowrap">
                          {{"AttendanceMaintenance.MonthlyAttendanceDataMaintenanceActiveEmployees.UpdateTime" | translate }}
                        </th>
                      </tr>
                    </thead>
                    <tbody *ngIf="data?.length > 0; else dataNotFound">
                      <tr *ngFor="let item of data">
                        <td *ngIf="functionUtility.checkFunction('Query')"
                            class="text-center text-nowrap">
                          <button type="button"
                                  class="btn btn-info btn-sm"
                                  (click)="detail(item)">
                            <i class="{{ iconButton.VIEW }}"></i>
                            {{ "AttendanceMaintenance.MonthlyAttendanceDataMaintenanceActiveEmployees.Query" | translate }}
                          </button>
                        </td>
                        <td class="text-center text-nowrap"
                            *ngIf="functionUtility.checkFunction('Edit')">
                          <button type="button"
                                  (click)="edit(item)"
                                  [disabled]="item.pass === 'Y' || item.isProbation"
                                  class="btn btn-sm btn-warning">
                            <i class="{{ iconButton.EDIT }}"></i>
                            <span>{{"System.Action.Edit" | translate }}
                            </span>
                          </button>
                        </td>
                        <td class="text-center">{{ item.pass }}</td>
                        <td class="text-center">{{ item.factory }}</td>
                        <td class="text-center">{{ item.att_Month }}</td>
                        <td class="text-center">{{ item.department }}</td>
                        <td class="text-center">{{ item.employee_ID }}</td>
                        <td class="text-center">{{ item.local_Full_Name }}</td>
                        <td class="text-center">{{ item.resign_Status }}</td>
                        <td class="text-center">{{ item.probation }}</td>
                        <td class="text-center">{{ item.permission_Group }}</td>
                        <td class="text-center">{{ item.salary_Type }}</td>
                        <td class="text-center">{{ item.salary_Days }}</td>
                        <td class="text-center">{{ item.actual_Days }}</td>
                        <td class="text-center">{{ item.update_By }}</td>
                        <td class="text-center">{{ item.update_Time }}</td>
                      </tr>
                    </tbody>
                    <ng-template #dataNotFound>
                      <tbody>
                        <tr>
                          <td colspan="100%"
                              class="table-warning text-center font-weight-bold">
                            {{"System.Message.NoData" | translate }}
                          </td>
                        </tr>
                      </tbody>
                    </ng-template>
                  </table>
                </drag-scroll>
              </div>
              <div class="row mt-3">
                <div class="col-8">
                  <div class="d-flex"
                       *ngIf="data?.length > 0 && pagination.totalPage > 1">
                    <pagination [boundaryLinks]="true"
                                [totalItems]="pagination.totalCount"
                                [itemsPerPage]="pagination.pageSize"
                                previousText="&lsaquo;"
                                nextText="&rsaquo;"
                                firstText="&laquo;"
                                lastText="&raquo;"
                                [maxSize]="5"
                                [(ngModel)]="pagination.pageNumber"
                                (pageChanged)="pageChanged($event)">
                    </pagination>
                    <span class="cs-page ml-2">
                      Page - {{ pagination.pageNumber }} / {{ pagination.totalPage }}
                    </span>
                  </div>
                </div>
                <div class="col-4">
                  <span class="cs-page float-right">
                    {{'System.Rows' | translate }} : {{pagination.totalCount}}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
