.title-header {
  background-color: #20a8d8;
  color: #fff;
  font-size: 15px;
  padding: 5px;
  margin-bottom: 20px;
  font-weight: bold;
  vertical-align: middle !important;
  text-align: center;
}
