<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <div class="row border-title">
            <div class="col-md-12">
              <strong> {{ title }} </strong>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form class="form-horizontal border-shadow"
                autocomplete="off"
                #mainForm="ngForm">
            <div class="row ">
              <div class="col-xxl-3 col-xl-4 col-lg-6 col-sm-12 col-md-6 ">
                <label class="badge badge-warning"
                       for="factory">
                  {{"SalaryMaintenance.SAPCostCenterSetting.Factory" | translate }}
                  <span class="text-danger text-bold">*</span>
                </label>
                <ng-select name="factory"
                           [clearable]="params.factory !== ''"
                           [(ngModel)]="params.factory"
                           placeholder='{{"SalaryMaintenance.SAPCostCenterSetting.Factory" | translate }}'
                           (clear)="deleteProperty('factory')"
                           required>
                  <ng-option *ngFor="let data of factories"
                             [value]="data.key">{{data.value}}
                  </ng-option>
                </ng-select>
              </div>
              <div class="col-xxl-3 col-xl-4 col-lg-6 col-sm-12 col-md-6 ">
                <label class="badge badge-warning">
                  {{"SalaryMaintenance.SAPCostCenterSetting.SAPCompanyCode" | translate }}
                </label>
                <input type="text"
                       placeholder='{{"SalaryMaintenance.SAPCostCenterSetting.SAPCompanyCode" | translate }}'
                       class="form-control"
                       name="SAPCompanyCode"
                       maxlength="10"
                       [(ngModel)]="params.company_Code" />
              </div>

              <!-- Year-->
              <div class="col-xxl-3 col-xl-4 col-lg-6 col-sm-12 col-md-6 ">
                <label class="badge badge-warning">
                  {{"SalaryMaintenance.SAPCostCenterSetting.Year" | translate }}
                </label>
                <div class="full-width">
                  <div class="container_date">
                    <div class="input-group mr-1">
                      <input autocomplete="off"
                             (keydown.backspace)="deleteProperty('year')"
                             onpaste="return false;"
                             type="text"
                             placeholder="{{placeholder.Year}}"
                             maxlength="4"
                             (keypress)="isNumber($event)"
                             class="form-control"
                             name="CostYear"
                             id="year"
                             [(ngModel)]="params.costYear"
                             bsDatepicker
                             [bsConfig]="bsConfigYear" />
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="{{iconButton.CALENDAR}}"></i></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-12 p-0">
              <label class="d-block">&nbsp;</label>
              <button type="submit"
                      class="btn btn-primary mr-2"
                      (click)="search(true)"
                      *ngIf="functionUtility.checkFunction('Search')"
                      [disabled]="!params.factory">
                <i class="{{ iconButton.SEARCH }}"></i> {{"System.Action.Search" | translate }}
              </button>
              <button type="button"
                      class="btn btn-danger mr-2"
                      (click)="clear()">
                <i class="{{ iconButton.CLEAR }}"></i> {{"System.Action.Clear" | translate }}
              </button>
              <button type="button"
                      (click)="add()"
                      class="btn btn-success mr-2"
                      id="add"
                      *ngIf="functionUtility.checkFunction('Add')">
                <i class="{{ iconButton.ADD }}"></i> {{"System.Action.Add" | translate }}
              </button>
              <button type="button"
                      (click)="excelExport()"
                      class="btn btn-success mr-2"
                      [disabled]="!params.factory"
                      *ngIf="functionUtility.checkFunction('Excel')">
                <i class="{{ iconButton.EXCEL }}"></i>
                {{ "System.Action.Excel" | translate }}
              </button>
              <file-upload [allowExtensions]="accept"
                           [label]="'System.Action.Upload' | translate "
                           (filesChange)="upload($event)"
                           [hidden]="!functionUtility.checkFunction('Upload')"></file-upload>
              <button type="button"
                      class="btn btn-primary mr-2"
                      id="excel"
                      (click)="download()"
                      *ngIf="functionUtility.checkFunction('Upload')">
                <i class="{{iconButton.EXCEL}}"></i>
                {{'System.Action.ExcelTemplate' | translate }}
              </button>
            </div>
          </form>
          <form class="form-horizontal"
                autocomplete="off"
                #tableForm="ngForm">
            <div class="row justify-content-md-center">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="table-responsive">
                  <drag-scroll id="dragscroll"
                               (dragStart)="functionUtility.setTextSelector(false)"
                               (dragEnd)="functionUtility.setTextSelector(true)">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th class="text-center text-nowrap"
                              [attr.colspan]="functionUtility.getColspan(['Delete','Edit'])">
                            {{"System.Action.Operation" | translate }}
                          </th>
                          <th class="text-center text-nowrap">
                            {{"SalaryMaintenance.SAPCostCenterSetting.Factory" | translate }}
                          </th>
                          <th class="text-center text-nowrap">
                            {{"SalaryMaintenance.SAPCostCenterSetting.SAPCompanyCode" | translate }}
                          </th>
                          <th class="text-center text-nowrap">
                            {{"SalaryMaintenance.SAPCostCenterSetting.Year" | translate }}
                          </th>
                          <th class="text-center text-nowrap">
                            {{"SalaryMaintenance.SAPCostCenterSetting.Group" | translate }}
                          </th>
                          <th class="text-center text-nowrap">
                            {{"SalaryMaintenance.SAPCostCenterSetting.CostCenter" | translate }}
                          </th>
                          <th class="text-center text-nowrap">
                            {{"SalaryMaintenance.SAPCostCenterSetting.Function" | translate }}
                          </th>
                          <th class="text-center text-nowrap">
                            {{"SalaryMaintenance.SAPCostCenterSetting.ProfitCenter" | translate }}
                          </th>
                          <th class="text-center text-nowrap">
                            {{"SalaryMaintenance.SAPCostCenterSetting.CostCenterChineseDescription" | translate }}
                          </th>
                          <th class="text-center text-nowrap">
                            {{"SalaryMaintenance.SAPCostCenterSetting.CostCenterEnglishDescription" | translate }}
                          </th>
                          <th class="text-center text-nowrap">
                            {{"SalaryMaintenance.SAPCostCenterSetting.UpdateBy" | translate }}
                          </th>
                          <th class="text-center text-nowrap">
                            {{"SalaryMaintenance.SAPCostCenterSetting.UpdateTime" | translate }}
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <ng-container *ngIf="dataMain?.length > 0; then dataTemplate else dataNotFound"></ng-container>
                        <ng-template #dataTemplate>
                          <tr *ngFor="let item of dataMain; index as i">
                            <!-- Item view -->
                            <ng-container *ngIf="!item.isEdit">
                              <td class="text-center text-nowrap"
                                  *ngIf="functionUtility.checkFunction('Edit')">
                                <button type="button"
                                        (click)="edit(item)"
                                        class="btn btn-sm btn-warning"
                                        [disabled]="item.isDisabled">
                                  <i class="{{ iconButton.EDIT }}"></i>
                                  <span>{{"System.Action.Edit" | translate }}
                                  </span>
                                </button>
                              </td>
                              <td *ngIf="functionUtility.checkFunction('Delete')"
                                  class="text-center text-nowrap">
                                <button type="button"
                                        class="btn btn-danger btn-sm"
                                        (click)="onDelete(item)"
                                        [disabled]="item.isDisabled">
                                  <i class="{{ iconButton.DELETE }}"></i>
                                  {{ "System.Action.Delete" | translate }}
                                </button>
                              </td>
                              <td class="text-center">{{ item.factory }}</td>
                              <td class="text-center">{{ item.company_Code }}</td>
                              <td class="text-center">{{ item.year}}</td>
                              <td class="text-center">{{ item.group}}</td>
                              <td class="text-center">{{ item.cost_Code}}</td>
                              <td class="text-center">{{ item.kind_Name}}</td>
                              <td class="text-center">{{ item.profit_Center}}</td>
                              <td class="text-center text-nowrap">{{ item.code_Name }}</td>
                              <td class="text-center text-nowrap">{{ item.code_Name_EN }}</td>
                              <td class="text-center">{{ item.update_By }}</td>
                              <td class="text-center text-nowrap">{{ item.update_Time | date : "yyyy/MM/dd HH:mm:ss" }}</td>
                            </ng-container>
                          </tr>
                        </ng-template>
                        <ng-template #dataNotFound>
                          <tr class="no-data">
                            <td colspan="100%"
                                class="table-warning text-center font-weight-bold">
                              {{"System.Message.NoData" | translate }}
                            </td>
                          </tr>
                        </ng-template>
                      </tbody>
                    </table>
                  </drag-scroll>
                </div>
                <div class="row mt-3">
                  <div class="col-8">
                    <div class="d-flex"
                         *ngIf="dataMain?.length > 0 && pagination.totalPage > 1">
                      <pagination name="pagination"
                                  [boundaryLinks]="true"
                                  [totalItems]="pagination.totalCount"
                                  [itemsPerPage]="pagination.pageSize"
                                  previousText="&lsaquo;"
                                  nextText="&rsaquo;"
                                  firstText="&laquo;"
                                  lastText="&raquo;"
                                  [maxSize]="5"
                                  [(ngModel)]="pagination.pageNumber"
                                  (pageChanged)="pageChanged($event)">
                      </pagination>
                      <span class="cs-page ml-2">
                        Page - {{ pagination.pageNumber }} / {{ pagination.totalPage }}
                      </span>
                    </div>
                  </div>
                  <div class="col-4">
                    <span class="cs-page float-right">
                      {{'System.Rows' | translate }} : {{pagination.totalCount}}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
