.styled-div {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.styled-div::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  border-top: 1px dashed #007bff;
  margin-left: 17px;
  margin-right: 17px;
}

.styled-div button i {
  margin-right: 8px;
}

.btn-custom-detail {
  background-color: white;
  color: #007bff;
  padding: 0px 10px 0px 10px;
  margin: 11px 10px 10px 160px;
  z-index: 1;
  border: none;
  font-size: 14px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.btn-custom-detail:focus {
  background: none;
  border: none;
  box-shadow: none;
  background: white
}

#collapseBasic {
  width: 100%;
  margin-top: 10px;
}

.monthly-salary-detail {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px 0;
  padding-left: 160px;
}

.monthly-salary-detail::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  border-top: 1px dashed #007bff;
  z-index: 1;
}

.title {
  background: white;
  color: #007bff;
  padding: 0 10px;
  position: relative;
  font-size: 14px;
  z-index: 2;
  font-weight: bold;
  border-radius: 0.25rem;
}

.bg-disabled {
  background-color: #e4e7ea;
}

/* .td-custom {
    vertical-align: middle;
} */


@media (min-width: 1690px) {
  .td-custom {
    height: 110px;
    width: 150px;
    max-height: 110px;
  }
}

@media (max-width: 1689px) {
  .td-custom {
    height: 130px;
    width: 150px;
    max-height: 130px;
  }
}

.break-spaces {
  white-space: break-spaces !important;
}

.bg-nodata {
  background-color: #ffeeba;
}
