<div class="mb-2">
  <button *ngIf="functionUtility.checkFunction('Add')"
          type="button"
          class="btn btn-success"
          [disabled]="tranfer?.mode == 'query'"
          (click)="add()"><i class="{{iconButton.ADD}}"></i>
    {{"System.Action.Add" | translate}}</button>
</div>
<div class="row justify-content-md-center">
  <div class="col-xxl-12 col-xl-12">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th *ngIf="functionUtility.checkFunction('Edit') || functionUtility.checkFunction('Delete')"
                class="text-center align-middle operation-column"
                [attr.colspan]="functionUtility.getColspan(['Edit','Delete'])">{{"BasicMaintenance.2_6_GradeMaintenance.Operation" | translate }}
            </th>
            <th class="text-center align-middle">
              {{"EmployeeInformationModule.EmployeeEmergencyContacts.Nationality" | translate }}
            </th>
            <th class="text-center align-middle">
              {{"EmployeeInformationModule.EmployeeEmergencyContacts.IdentificationNumber" | translate }}
            </th>
            <th class="text-center align-middle">
              {{"EmployeeInformationModule.EmployeeEmergencyContacts.LocalFullName" | translate }}
            </th>
            <th class="text-center align-middle">
              {{"EmployeeInformationModule.EmployeeEmergencyContacts.Seq" | translate }}
            </th>
            <th class="text-center align-middle">
              {{"EmployeeInformationModule.EmployeeEmergencyContacts.EmergencyContact" | translate }}
            </th>
            <th class="text-center align-middle">
              {{"EmployeeInformationModule.EmployeeEmergencyContacts.Relationship" | translate }}
            </th>
            <th class="text-center align-middle">
              {{"EmployeeInformationModule.EmployeeEmergencyContacts.EmergencyContactPhone" | translate }}
            </th>
            <th class="text-center align-middle">
              {{"EmployeeInformationModule.EmployeeEmergencyContacts.TemporaryAddress" | translate }}
            </th>
            <th class="text-center align-middle">
              {{"EmployeeInformationModule.EmployeeEmergencyContacts.EmergencyContactAddress" | translate }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data"
              class="text-center">
            <!-- Operation -->
            <td class="text-center"
                *ngIf="functionUtility.checkFunction('Edit')">
              <button [disabled]="tranfer?.mode == 'query'"
                      type="button"
                      class="btn btn-warning btn-sm "
                      (click)="edit(item)"><i class="{{iconButton.EDIT}}"></i> {{"System.Action.Edit" | translate }}</button>
            </td>
            <td class="text-center"
                *ngIf="functionUtility.checkFunction('Delete')">
              <button [disabled]="tranfer?.mode == 'query'"
                      type="button"
                      class="btn btn-danger btn-sm"
                      (click)="delete(item)"><i class="{{iconButton.DELETE}}"></i> {{"System.Action.Delete" | translate }}</button>
            </td>
            <td>{{item?.nationality}}</td>
            <td>{{item?.identification_Number}}</td>
            <td>{{item?.localFullName}}</td>
            <td>{{item?.seq}}</td>
            <td>{{item?.emergency_Contact}}</td>
            <td>{{item?.relationship}}</td>
            <td>{{item?.emergency_Contact_Phone}}</td>
            <td>{{item?.temporary_Address}}</td>
            <td>{{item?.emergency_Contact_Address}}</td>
          </tr>
          <tr *ngIf="data?.length === 0">
            <td class="table-warning text-center font-weight-bold"
                colspan="100%">{{"System.Message.NoData" |
              translate }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-8">
      </div>
      <div class="col-4">
        <span class="cs-page float-right ">{{'System.Rows' | translate }} : {{totalCount}}</span>
      </div>
    </div>
  </div>
</div>
<app-modal-4-1-2 id="modal-4-1-2"></app-modal-4-1-2>
