<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <form class="card form-horizontal needs-validation"
            autocomplete="off">
        <div class="form-horizontal">
          <div class="card-header">
            <div class="row border-title">
              <div class="col-md-12">
                <strong class="title-card-cs">
                  {{ title }} - {{ 'System.Action.' + action | translate }}
                </strong>
                <!-- Button Back -->
                <button type="button"
                        class="btn btn-sm btn-primary float-right"
                        (click)="back()">
                  <i class="fa fa-chevron-left"></i>
                  {{'System.Action.Back' | translate}}
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form #form="ngForm"
                class="form-horizontal"
                autocomplete="off">
            <div class="param-container">
              <div class="row">

                <!-- Factory -->
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                  <div class="form-group row">
                    <label class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label">
                      {{"SalaryMaintenance.SalaryAdjustmentMaintenance.Factory" | translate }}
                    </label>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                      <ng-select id="factory"
                                 name="factory"
                                 [(ngModel)]="data.factory"
                                 [clearable]="false"
                                 placeholder="{{'SalaryMaintenance.SalaryAdjustmentMaintenance.Factory' | translate}}"
                                 disabled>
                        <ng-option *ngFor="let data of listFactory"
                                   [value]="data.key">
                          {{ data.value }}
                        </ng-option>
                      </ng-select>
                    </div>
                  </div>
                </div>

                <!-- Employee ID -->
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                  <div class="form-group row">
                    <label class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label">
                      {{"SalaryMaintenance.SalaryAdjustmentMaintenance.EmployeeID" | translate }}
                    </label>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                      <div class="input-group mr-1">
                        <input autocomplete="off"
                               type="text"
                               placeholder="{{'SalaryMaintenance.SalaryAdjustmentMaintenance.EmployeeID' | translate }}"
                               class="form-control"
                               maxlength="9"
                               name="employee_ID"
                               [(ngModel)]="data.employee_ID"
                               disabled />
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Local Full Name -->
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                  <div class="form-group row">
                    <label class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label">
                      {{"SalaryMaintenance.SalaryAdjustmentMaintenance.LocalFullName" | translate}}
                    </label>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                      <input [(ngModel)]="data.local_Full_Name"
                             name="local_Full_Name"
                             type="text"
                             class="form-control"
                             placeholder="{{'SalaryMaintenance.SalaryAdjustmentMaintenance.LocalFullName' | translate}}"
                             disabled />
                    </div>
                  </div>
                </div>
                <!-- Onboard Date -->
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                  <div class="form-group row">
                    <label class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label">
                      {{"SalaryMaintenance.SalaryAdjustmentMaintenance.OnboardDate" | translate}}
                    </label>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                      <input [(ngModel)]="data.onboard_Date_Str"
                             name="onboard_Date"
                             type="text"
                             class="form-control"
                             placeholder="{{'SalaryMaintenance.SalaryAdjustmentMaintenance.OnboardDate' | translate}}"
                             disabled />
                    </div>
                  </div>
                </div>
                <!-- Employment Status -->
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                  <div class="form-group row">
                    <label class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label">
                      {{'SalaryMaintenance.SalaryAdjustmentMaintenance.EmploymentStatus' | translate}}
                    </label>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                      <ng-select id="employment_Status"
                                 name="employment_Status"
                                 [(ngModel)]="data.employment_Status"
                                 [clearable]="false"
                                 placeholder="{{'SalaryMaintenance.SalaryAdjustmentMaintenance.EmploymentStatus' | translate}}"
                                 disabled>
                        <ng-option *ngFor="let data of listEmploymentStatus"
                                   [value]="data.key">
                          {{ data.value | translate }}
                        </ng-option>
                      </ng-select>
                    </div>
                  </div>
                </div>

                <!-- Reason For Change -->
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                  <div class="form-group row">
                    <label class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label">
                      {{'SalaryMaintenance.SalaryAdjustmentMaintenance.ReasonForChange' | translate}}
                      <span class="text-danger text-bold"> *</span>
                    </label>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                      <ng-select name="reason_for_change"
                                 [(ngModel)]="data.reason_For_Change"
                                 (ngModelChange)="onDataChange()"
                                 [clearable]="false"
                                 placeholder="{{'SalaryMaintenance.SalaryAdjustmentMaintenance.ReasonForChange' | translate}}"
                                 [disabled]="isQuery">
                        <ng-option *ngFor="let item of listReasonForChange"
                                   [value]="item.key">{{item.value}}</ng-option>
                      </ng-select>
                    </div>
                  </div>
                </div>

                <!-- Effective Date -->
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                  <div class="form-group row">
                    <label class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label">
                      {{'SalaryMaintenance.SalaryAdjustmentMaintenance.EffectiveDate' | translate}}
                    </label>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                      <div class="full-width">
                        <div class="container_input">
                          <div class="input-group mr-1">
                            <input type="text"
                                   autocomplete="off"
                                   class="form-control"
                                   bsDatepicker
                                   name="effectiveDate"
                                   [(ngModel)]="effectiveDate"
                                   [bsConfig]="bsConfig"
                                   onpaste="return false;"
                                   placeholder="{{placeholder.YearMonthDay}}"
                                   disabled />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Seq -->
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                  <div class="form-group row">
                    <label class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label">
                      {{'SalaryMaintenance.SalaryAdjustmentMaintenance.Seq' | translate}}
                    </label>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                      <input [(ngModel)]="data.seq"
                             name="seq"
                             type="text"
                             class="form-control"
                             placeholder="{{'SalaryMaintenance.SalaryAdjustmentMaintenance.Seq' | translate}}"
                             disabled />
                    </div>
                  </div>
                </div>

                <!-- Technical Type -->
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                  <div class="form-group row">
                    <label class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label">
                      {{"SalaryMaintenance.SalaryAdjustmentMaintenance.TechnicalType" | translate }}
                    </label>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                      <ng-select name="technical_Type"
                                 [(ngModel)]="data.technical_Type"
                                 [clearable]="false"
                                 placeholder='{{"SalaryMaintenance.SalaryAdjustmentMaintenance.TechnicalType" | translate}}'
                                 disabled>
                        <ng-option *ngFor="let item of listTechnicalType"
                                   [value]="item.key">{{item.value}}</ng-option>
                      </ng-select>
                    </div>
                  </div>
                </div>
                <!-- Expertise Category -->
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                  <div class="form-group row">
                    <label class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label">
                      {{"SalaryMaintenance.SalaryAdjustmentMaintenance.ExpertiseCategory" | translate }}
                    </label>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                      <ng-select name="expertise_Category"
                                 [(ngModel)]="data.expertise_Category"
                                 [clearable]="false"
                                 placeholder='{{"SalaryMaintenance.SalaryAdjustmentMaintenance.ExpertiseCategory" | translate}}'
                                 disabled>
                        <ng-option *ngFor="let item of listExpertiseCategory"
                                   [value]="item.key">{{item.value}}</ng-option>
                      </ng-select>
                    </div>
                  </div>
                </div>

                <!-- Period of Acting Position -->
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                  <div class="form-group row align-items-center">
                    <label class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label">
                      {{"SalaryMaintenance.SalaryAdjustmentMaintenance.PeriodOfActingPosition" | translate }}
                    </label>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                      <div class="container_input">
                        <div class="input-group mr-1">
                          <input type="text"
                                 autocomplete="off"
                                 placeholder="{{placeholder.YearMonthDay}}"
                                 name="actingPosition_Start"
                                 class="form-control"
                                 [(ngModel)]="data.acting_Position_Start"
                                 disabled />
                        </div>
                        <div class="input-group ml-1">
                          <input type="text"
                                 autocomplete="off"
                                 placeholder="{{placeholder.YearMonthDay}}"
                                 name="actingPosition_End"
                                 class="form-control"
                                 [(ngModel)]="data.acting_Position_End"
                                 disabled />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Department -->
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                  <div class="form-group row">
                    <label class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label">
                      {{"SalaryMaintenance.SalaryAdjustmentMaintenance.Department" | translate }}
                    </label>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                      <ng-select name="department"
                                 [(ngModel)]="data.department"
                                 [clearable]="false"
                                 placeholder='{{"SalaryMaintenance.SalaryAdjustmentMaintenance.Department" | translate}}'
                                 disabled>
                        <ng-option *ngFor="let item of listDepartment"
                                   [value]="item.key">{{item.value}}</ng-option>
                      </ng-select>
                    </div>
                  </div>
                </div>

                <!-- Position Grade -->
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                  <div class="form-group row">
                    <label class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label">
                      {{"SalaryMaintenance.SalaryAdjustmentMaintenance.PositionGrade" | translate }}
                    </label>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                      <input [(ngModel)]="data.position_Grade"
                             name="position_Grade."
                             type="text"
                             class="form-control"
                             placeholder="{{'SalaryMaintenance.SalaryAdjustmentMaintenance.PositionGrade' | translate}}"
                             disabled />
                    </div>
                  </div>
                </div>

                <!-- Position Title -->
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                  <div class="form-group row">
                    <label class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label">
                      {{"SalaryMaintenance.SalaryAdjustmentMaintenance.PositionTitle" | translate }}
                    </label>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                      <ng-select name="position_Title"
                                 [(ngModel)]="data.position_Title"
                                 [clearable]="false"
                                 placeholder='{{"SalaryMaintenance.SalaryAdjustmentMaintenance.PositionTitle" | translate}}'
                                 disabled>
                        <ng-option *ngFor="let item of listPositionTitle"
                                   [value]="item.key">{{item.value}}</ng-option>
                      </ng-select>
                    </div>
                  </div>
                </div>

                <!-- Permission Group -->
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                  <div class="form-group row">
                    <label class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label">
                      {{"SalaryMaintenance.SalaryAdjustmentMaintenance.PermissionGroup" | translate }}
                    </label>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                      <ng-select name="permission_Group"
                                 [(ngModel)]="data.permission_Group"
                                 [clearable]="false"
                                 placeholder='{{"SalaryMaintenance.SalaryAdjustmentMaintenance.PermissionGroup" | translate}}'
                                 disabled>
                        <ng-option *ngFor="let item of listPermissionGroup"
                                   [value]="item.key">{{item.value}}</ng-option>
                      </ng-select>
                    </div>
                  </div>
                </div>

                <!-- Update By -->
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                  <div class="form-group row">
                    <label for="textUpdateBy"
                           class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label">
                      {{'SalaryMaintenance.SalaryAdjustmentMaintenance.UpdateBy' | translate}}
                    </label>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                      <input type="text"
                             class="form-control"
                             id="Update_By"
                             name="Update_By"
                             [(ngModel)]="data.update_By"
                             placeholder="{{'SalaryMaintenance.SalaryAdjustmentMaintenance.UpdateBy' | translate }}"
                             disabled>
                    </div>
                  </div>
                </div>

                <!-- Update Time -->
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                  <div class="form-group row">
                    <label for="textUpdateTime"
                           class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label">
                      {{'SalaryMaintenance.SalaryAdjustmentMaintenance.UpdateTime' | translate}}
                    </label>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                      <input type="text"
                             class="form-control"
                             id="Update_Time"
                             name="Update_Time"
                             [(ngModel)]="data.update_Time"
                             placeholder="{{'SalaryMaintenance.SalaryAdjustmentMaintenance.UpdateTime' | translate }}"
                             disabled>
                    </div>
                  </div>
                </div>

                <!-- Salary Type -->
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                  <div class="form-group row">
                    <label class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label">
                      {{"SalaryMaintenance.SalaryAdjustmentMaintenance.SalaryType" | translate }}
                      <span class="text-danger text-bold">*</span>
                    </label>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                      <ng-select name="salary_Type"
                                 [(ngModel)]="data.salary_Type"
                                 (ngModelChange)="onDataChange()"
                                 [clearable]="false"
                                 placeholder='{{"SalaryMaintenance.SalaryAdjustmentMaintenance.SalaryType" | translate}}'
                                 [disabled]="isQuery">
                        <ng-option *ngFor="let item of listSalaryType"
                                   [value]="item.key">{{item.value}}</ng-option>
                      </ng-select>
                    </div>
                  </div>
                </div>

                <!-- Salary Level -->
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                  <div class="form-group row">
                    <label class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label">
                      {{ "SalaryMaintenance.SalaryAdjustmentMaintenance.SalaryLevel" |
                    translate }}
                    </label>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                      <div class="container_input">
                        <div class="input-group ml-1">
                          <input [(ngModel)]="data.salary_Grade"
                                 name="salary_Grade"
                                 type="text"
                                 (keypress)="validateDecimal($event, 15)"
                                 class="form-control"
                                 onpaste="return false;"
                                 placeholder="{{'SalaryMaintenance.SalaryAdjustmentMaintenance.Grade' | translate}}"
                                 required
                                 [disabled]="isQuery" />
                          <div class="input-group-append">
                            <span class="input-group-text">{{ "SalaryMaintenance.SalaryAdjustmentMaintenance.Grade" | translate }}</span>
                          </div>
                        </div>
                        <div class="input-group ml-1">
                          <input [(ngModel)]="data.salary_Level"
                                 name="salary_Level"
                                 type="text"
                                 (keypress)="validateDecimal($event, 9)"
                                 class="form-control"
                                 onpaste="return false;"
                                 placeholder="{{'SalaryMaintenance.SalaryAdjustmentMaintenance.Level' | translate}}"
                                 required
                                 [disabled]="isQuery" />
                          <div class="input-group-append">
                            <span class="input-group-text">{{ "SalaryMaintenance.SalaryAdjustmentMaintenance.Level" | translate }}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Currency -->
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                  <div class="form-group row">
                    <label class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-form-label">
                      {{'SalaryMaintenance.SalaryAdjustmentMaintenance.Currency' | translate}}
                    </label>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                      <ng-select name="currency"
                                 [(ngModel)]="data.currency"
                                 [clearable]="false"
                                 placeholder="{{'SalaryMaintenance.SalaryAdjustmentMaintenance.Currency' | translate}}"
                                 disabled>
                        <ng-option *ngFor="let item of listCurrency"
                                   [value]="item.key">{{item.value}}</ng-option>
                      </ng-select>
                    </div>
                  </div>
                </div>
              </div>
              <!-- TODO: Salary Item -->
              <hr class="hr" />
              <div class="row justify-content-md-center">
                <div class="col-xxl-8 col-xl-12">
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th class="text-center text-nowrap">
                            {{"SalaryMaintenance.SalaryAdjustmentMaintenance.SalaryItem" | translate }}
                          </th>
                          <th class="text-center text-nowrap">
                            {{"SalaryMaintenance.SalaryAdjustmentMaintenance.Amount" | translate }}
                          </th>
                        </tr>
                      </thead>
                      <tbody *ngIf="data.salary_Item?.length > 0; else dataNotFound">
                        <tr *ngFor="let item of data.salary_Item">
                          <td class="table-warning text-center">{{ item.salary_Item_Name }}</td>
                          <td class="text-center">
                            <input [id]="'amount' + item.amount"
                                   class="form-control"
                                   mask="separator.0"
                                   thousandSeparator=","
                                   separatorLimit="10000000"
                                   [name]="'amount' + item.amount"
                                   [(ngModel)]="item.amount"
                                   (ngModelChange)="onDataChange()"
                                   [disabled]="isQuery"
                                   required />
                          </td>
                        </tr>
                      </tbody>
                      <ng-template #dataNotFound>
                        <tbody>
                          <tr>
                            <td colspan="100%"
                                class="table-warning text-center font-weight-bold">
                              {{"System.Message.NoData" | translate }}
                            </td>
                          </tr>
                        </tbody>
                      </ng-template>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <div class="row justify-content-md-center">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="mt-2 text-right">
                <button *ngIf="!isQuery"
                        type="button"
                        [disabled]="!form.valid"
                        (click)="save()"
                        class="{{ classButton.SAVE }}">
                  <i class="{{ iconButton.SAVE }}"></i>
                  {{ "System.Action.Save" | translate }}
                </button>
                <button type="button"
                        class="{{ classButton.CLOSE }}"
                        (click)="back()">
                  <i class="{{ iconButton.CLOSE }}"></i>
                  {{ "System.Action.Close" | translate }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
