<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <form class="form-horizontal"
              autocomplete="off"
              #mainForm="ngForm">
          <div class="card-header">
            <div class="row border-title">
              <div class="col-md-12">
                <strong class="title-card-cs">{{ title }}</strong>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row border-shadow">
              <!-- Nationality -->
              <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <label for="nationality"
                       class="badge badge-warning">
                  {{ "EmployeeInformationModule.ExitEmployeeMasterFileHistoricalData.Nationality" | translate }}
                  <span class="text-danger text-bold"> *</span>
                </label>
                <ng-select id="nationality"
                           name="nationality"
                           [(ngModel)]="param.nationality"
                           [clearable]="param.nationality != ''"
                           (clear)="deleteProperty('nationality')"
                           placeholder="{{'EmployeeInformationModule.ExitEmployeeMasterFileHistoricalData.Nationality' | translate}}"
                           required>
                  <ng-option *ngFor="let data of listNationality"
                             [value]="data.key">
                    {{ data.value }}
                  </ng-option>
                </ng-select>
              </div>
              <!-- Division -->
              <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <label for="division"
                       class="badge badge-warning">
                  {{ "EmployeeInformationModule.ExitEmployeeMasterFileHistoricalData.Division" | translate }}
                  <span class="text-danger text-bold"> *</span>
                </label>
                <ng-select id="division"
                           name="division"
                           [(ngModel)]="param.division"
                           [clearable]="param.division != ''"
                           (clear)="deleteProperty('division')"
                           (ngModelChange)="onChangeDivision()"
                           placeholder="{{'EmployeeInformationModule.ExitEmployeeMasterFileHistoricalData.Division'| translate}}"
                           required>
                  <ng-option *ngFor="let data of listDivision"
                             [value]="data.key">
                    {{ data.value }}
                  </ng-option>
                </ng-select>
              </div>
              <!-- Factory -->
              <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <label for="factory"
                       class="badge badge-warning">
                  {{ "EmployeeInformationModule.ExitEmployeeMasterFileHistoricalData.Factory" | translate }}
                  <span class="text-danger text-bold"> *</span>
                </label>
                <ng-select id="factory"
                           name="factory"
                           [(ngModel)]="param.factory"
                           [clearable]="param.factory != ''"
                           (clear)="deleteProperty('factory')"
                           [readonly]="!param.division"
                           placeholder="{{'EmployeeInformationModule.ExitEmployeeMasterFileHistoricalData.Factory'| translate}}"
                           required>
                  <ng-option *ngFor="let data of listFactory"
                             [value]="data.key">
                    {{ data.value }}
                  </ng-option>
                </ng-select>
              </div>
              <!-- Identification Number -->
              <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <label for="identificationNumber"
                       class="badge badge-warning">
                  {{ "EmployeeInformationModule.ExitEmployeeMasterFileHistoricalData.IdentificationNumber" | translate }}
                </label>
                <input type="text"
                       class="form-control"
                       id="identificationNumber"
                       name="identificationNumber"
                       maxlength="50"
                       [(ngModel)]="param.identificationNumber"
                       placeholder="{{'EmployeeInformationModule.ExitEmployeeMasterFileHistoricalData.IdentificationNumber'| translate}}"
                       autocomplete="off" />
              </div>
              <!-- Employee ID -->
              <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <label for="employeeID"
                       class="badge badge-warning">
                  {{ "EmployeeInformationModule.ExitEmployeeMasterFileHistoricalData.EmployeeID" | translate }}
                </label>
                <input type="text"
                       class="form-control"
                       id="employeeID"
                       name="employeeID"
                       maxlength="9"
                       [(ngModel)]="param.employeeID"
                       placeholder="{{'EmployeeInformationModule.ExitEmployeeMasterFileHistoricalData.EmployeeID'| translate}}"
                       autocomplete="off" />
              </div>
              <!-- Local Full Name -->
              <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <label for="localFullName"
                       class="badge badge-warning">
                  {{ "EmployeeInformationModule.ExitEmployeeMasterFileHistoricalData.LocalFullName" | translate }}
                </label>
                <input type="text"
                       class="form-control"
                       id="localFullName"
                       name="localFullName"
                       maxlength="50"
                       [(ngModel)]="param.localFullName"
                       placeholder="{{'EmployeeInformationModule.ExitEmployeeMasterFileHistoricalData.LocalFullName'| translate}}"
                       autocomplete="off" />
              </div>
              <!-- Onboard Date -->
              <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <label class="badge badge-warning">
                  {{ "EmployeeInformationModule.ExitEmployeeMasterFileHistoricalData.OnboardDate" | translate }}
                </label>
                <div class="full-width">
                  <div class="container_input">
                    <div class="input-group mr-1">
                      <input type="text"
                             autocomplete="off"
                             class="form-control"
                             bsDatepicker
                             name="onboardDateStart"
                             [(ngModel)]="param.onboardDateStart"
                             (ngModelChange)="onDateChange('onboardDateStart')"
                             [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }"
                             placeholder="YYYY/MM/DD"
                             [maxDate]="param.onboardDateEnd"
                             [required]="param.onboardDateEnd" />
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="{{ iconButton.CALENDAR }}"></i></span>
                      </div>
                    </div>
                    <div class="input-group ml-1">
                      <input type="text"
                             autocomplete="off"
                             class="form-control"
                             bsDatepicker
                             name="onboardDateEnd"
                             [(ngModel)]="param.onboardDateEnd"
                             (ngModelChange)="onDateChange('onboardDateEnd')"
                             [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }"
                             placeholder="YYYY/MM/DD"
                             [minDate]="param.onboardDateStart"
                             [required]="param.onboardDateStart" />
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="{{ iconButton.CALENDAR }}"></i></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Date Of Group Employment -->
              <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <label class="badge badge-warning">
                  {{ "EmployeeInformationModule.ExitEmployeeMasterFileHistoricalData.DateOfGroupEmployment" | translate }}
                </label>
                <div class="full-width">
                  <div class="container_input">
                    <div class="input-group mr-1">
                      <input type="text"
                             autocomplete="off"
                             class="form-control"
                             bsDatepicker
                             name="groupDateStart"
                             [(ngModel)]="param.groupDateStart"
                             (ngModelChange)="onDateChange('groupDateStart')"
                             [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }"
                             placeholder="YYYY/MM/DD"
                             [maxDate]="param.groupDateEnd"
                             [required]="param.groupDateEnd" />
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="{{ iconButton.CALENDAR }}"></i></span>
                      </div>
                    </div>
                    <div class="input-group ml-1">
                      <input type="text"
                             autocomplete="off"
                             class="form-control"
                             bsDatepicker
                             name="groupDateEnd"
                             [(ngModel)]="param.groupDateEnd"
                             (ngModelChange)="onDateChange('groupDateEnd')"
                             [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }"
                             placeholder="YYYY/MM/DD"
                             [minDate]="param.groupDateStart"
                             [required]="param.groupDateStart" />
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="{{ iconButton.CALENDAR }}"></i></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Date Of Resignation -->
              <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <label class="badge badge-warning">
                  {{ "EmployeeInformationModule.ExitEmployeeMasterFileHistoricalData.DateOfResignation" | translate }}
                </label>
                <div class="full-width">
                  <div class="container_input">
                    <div class="input-group mr-1">
                      <input type="text"
                             autocomplete="off"
                             class="form-control"
                             bsDatepicker
                             name="resignDateStart"
                             [(ngModel)]="param.resignDateStart"
                             (ngModelChange)="onDateChange('resignDateStart')"
                             [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }"
                             onpaste="return false;"
                             placeholder="YYYY/MM/DD"
                             [maxDate]="param.resignDateEnd"
                             [required]="param.resignDateEnd" />
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="{{ iconButton.CALENDAR }}"></i></span>
                      </div>
                    </div>
                    <div class="input-group ml-1">
                      <input type="text"
                             autocomplete="off"
                             class="form-control"
                             bsDatepicker
                             name="resignDateEnd"
                             [(ngModel)]="param.resignDateEnd"
                             (ngModelChange)="onDateChange('resignDateEnd')"
                             [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }"
                             onpaste="return false;"
                             placeholder="YYYY/MM/DD"
                             [minDate]="param.resignDateStart"
                             [required]="param.resignDateStart" />
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="{{ iconButton.CALENDAR }}"></i></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <label class="d-block">&nbsp;</label>
                <button *ngIf="functionUtility.checkFunction('Search')"
                        type="button"
                        class="{{ classButton.SEARCH }}"
                        (click)="search()"
                        [disabled]="!mainForm.valid">
                  <i class="{{ iconButton.SEARCH }}"></i>
                  {{ "System.Action.Search" | translate }}
                </button>
                <button *ngIf="functionUtility.checkFunction('Search')"
                        type="button"
                        class="{{ classButton.CLEAR }}"
                        (click)="clear()">
                  <i class="{{ iconButton.CLEAR }}"></i>
                  {{ "System.Action.Clear" | translate }}
                </button>
              </div>
            </div>
            <div class="row justify-content-md-center">
              <div class="col-xl-12 col-xxl-12">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th *ngIf="functionUtility.checkFunction('Query')"
                            class="text-center"
                            [attr.colspan]="functionUtility.getColspan(['Query'])">
                          {{ "System.Action.Operation" | translate }}
                        </th>
                        <th class="text-center">
                          {{ "EmployeeInformationModule.ExitEmployeeMasterFileHistoricalData.EmploymentStatus" | translate }}
                        </th>
                        <th class="text-center">
                          {{ "EmployeeInformationModule.ExitEmployeeMasterFileHistoricalData.Nationality" | translate }}
                        </th>
                        <th class="text-center">
                          {{ "EmployeeInformationModule.ExitEmployeeMasterFileHistoricalData.IdentificationNumber" | translate }}
                        </th>
                        <th class="text-center">
                          {{ "EmployeeInformationModule.ExitEmployeeMasterFileHistoricalData.LocalFullName" | translate }}
                        </th>
                        <th class="text-center">
                          {{ "EmployeeInformationModule.ExitEmployeeMasterFileHistoricalData.Division" | translate }}
                        </th>
                        <th class="text-center">
                          {{ "EmployeeInformationModule.ExitEmployeeMasterFileHistoricalData.Factory" | translate }}
                        </th>
                        <th class="text-center">
                          {{ "EmployeeInformationModule.ExitEmployeeMasterFileHistoricalData.EmployeeID" | translate }}
                        </th>
                        <th class="text-center">
                          {{ "EmployeeInformationModule.ExitEmployeeMasterFileHistoricalData.Department" | translate }}
                        </th>
                        <th class="text-center">
                          {{ "EmployeeInformationModule.ExitEmployeeMasterFileHistoricalData.CrossFactoryStatus" | translate }}
                        </th>
                        <th class="text-center">
                          {{ "EmployeeInformationModule.ExitEmployeeMasterFileHistoricalData.OnboardDate" | translate }}
                        </th>
                        <th class="text-center">
                          {{ "EmployeeInformationModule.ExitEmployeeMasterFileHistoricalData.DateOfGroupEmployment" | translate }}
                        </th>
                        <th class="text-center">
                          {{ "EmployeeInformationModule.ExitEmployeeMasterFileHistoricalData.DateOfResignation" | translate }}
                        </th>
                      </tr>
                    </thead>
                    <tbody *ngIf="data?.length > 0; else elseTemplate">
                      <tr *ngFor="let item of data; index as i">
                        <td *ngIf="functionUtility.checkFunction('Query')"
                            class="text-center">
                          <button type="button"
                                  class="btn btn-info btn-sm text-nowrap"
                                  (click)="query(item)">
                            <i class="{{ iconButton.VIEW }}"></i>
                            {{ "System.Action.Query" | translate }}
                          </button>
                        </td>
                        <td class="text-center">
                          <span *ngIf="item.deletionCode == 'Y'"> {{ 'EmployeeInformationModule.ExitEmployeeMasterFileHistoricalData.Onjob' | translate }}</span>
                          <span *ngIf="item.deletionCode == 'N'"> {{ 'EmployeeInformationModule.ExitEmployeeMasterFileHistoricalData.Resigned'| translate }}</span>
                          <span *ngIf="item.deletionCode == 'U'"> {{ 'EmployeeInformationModule.ExitEmployeeMasterFileHistoricalData.Unpaid'| translate }}</span>
                        </td>
                        <td class="text-center">{{ item.nationality }}</td>
                        <td class="text-center">
                          {{ item.identificationNumber }}
                        </td>
                        <td class="text-center">{{ item.localFullName }}</td>
                        <td class="text-center">{{ item.division }}</td>
                        <td class="text-center">{{ item.factory }}</td>
                        <td class="text-center">{{ item.employeeID }}</td>
                        <td class="text-center">{{ item.department }}</td>
                        <td class="text-center">
                          <span *ngIf="item.employmentStatus == 'A'"> {{ 'EmployeeInformationModule.ExitEmployeeMasterFileHistoricalData.Assigned' | translate }}</span>
                          <span *ngIf="item.employmentStatus == 'S'"> {{ 'EmployeeInformationModule.ExitEmployeeMasterFileHistoricalData.Supported'| translate }}</span>
                        </td>
                        <td class="text-center">{{ item.onboardDate }}</td>
                        <td class="text-center">{{ item.groupDate }}</td>
                        <td class="text-center">{{ item.resignDate }}</td>
                      </tr>
                    </tbody>
                    <ng-template #elseTemplate>
                      <tbody>
                        <tr>
                          <td colspan="100%"
                              class="table-warning text-center font-weight-bold">
                            {{ "System.Message.NoData" | translate }}
                          </td>
                        </tr>
                      </tbody>
                    </ng-template>
                  </table>
                </div>
                <div class="row">
                  <div class="col-8">
                    <div class="d-flex"
                         *ngIf="data?.length > 0 && pagination.totalPage > 1">
                      <pagination name="pagination"
                                  [boundaryLinks]="true"
                                  [maxSize]="5"
                                  [totalItems]="pagination.totalCount"
                                  [itemsPerPage]="pagination.pageSize"
                                  (pageChanged)="pageChanged($event)"
                                  [(ngModel)]="pagination.pageNumber"
                                  previousText="&lsaquo;"
                                  nextText="&rsaquo;"
                                  firstText="&laquo;"
                                  lastText="&raquo;">
                      </pagination>
                      <span class="cs-page ml-2">
                        Page - {{ pagination.pageNumber }} / {{ pagination.totalPage }}
                      </span>
                    </div>
                  </div>
                  <div class="col-4">
                    <span class="cs-page float-right">{{ "System.Rows" | translate }} : {{ pagination.totalCount ?? 0 }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>