<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <form class="form-horizontal"
              autocomplete="off">
          <div class="card-header">
            <div class="row border-title">
              <div class="col-md-12">
                <strong class="title-card-cs">{{ title }}</strong>
              </div>
            </div>
          </div>
        </form>
        <div class="card-body">
          <div class="row border-shadow">
            <!-- Factories -->
            <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12">
              <label class="badge badge-warning">
                {{ "AttendanceMaintenance.MonthlyEmployeeStatusChangesSheetByWorkTypeJob.Factory" | translate }}
                <span class="text-danger text-bold"> *</span>
              </label>
              <ng-select name="factory"
                         [(ngModel)]="param.factory"
                         (ngModelChange)="onFactoryChange()"
                         placeholder="{{ 'AttendanceMaintenance.MonthlyEmployeeStatusChangesSheetByWorkTypeJob.Factory' | translate }}"
                         [clearable]="param.factory != null"
                         (clear)="deleteProperty('factory')">
                <ng-option *ngFor="let data of factories"
                           [value]="data.key">
                  {{ data.value }}
                </ng-option>
              </ng-select>
            </div>

            <!-- Year Month -->
            <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12">
              <label class="badge badge-warning">
                {{ "AttendanceMaintenance.MonthlyEmployeeStatusChangesSheetByWorkTypeJob.YearMonth" | translate }}
                <span class="text-danger text-bold"> *</span>
              </label>
              <div class="input-group ml-1">
                <input autocomplete="off"
                       type="text"
                       class="form-control"
                       name="yearMontDate"
                       [(ngModel)]="yearMontDate"
                       bsDatepicker
                       [bsConfig]="datePickerConfig"
                       placeholder="YYYY/MM" />
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="fa fa-calendar"></i>
                  </span>
                </div>
              </div>
            </div>
            <!-- Levels -->
            <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12">
              <label class="badge badge-warning">
                {{ "AttendanceMaintenance.MonthlyEmployeeStatusChangesSheetByWorkTypeJob.Level" | translate }}
                <span class="text-danger text-bold"> *</span>
              </label>
              <ng-select name="level"
                         [(ngModel)]="param.level"
                         placeholder="{{ 'AttendanceMaintenance.MonthlyEmployeeStatusChangesSheetByWorkTypeJob.Level' | translate }}"
                         [clearable]="param.level != null"
                         (clear)="deleteProperty('level')">
                <ng-option *ngFor="let data of levels"
                           [value]="data.key"> {{ data.value }} </ng-option>
              </ng-select>
            </div>
            <!-- Permission Groups -->
            <div class="col-12">
              <label class="badge badge-warning">
                {{ "AttendanceMaintenance.MonthlyEmployeeStatusChangesSheetByWorkTypeJob.PermissionGroup" | translate }}
                <span class="text-danger text-bold"> *</span>
              </label>

              <ng-select [items]="permissionGroups"
                         [multiple]="true"
                         name="namePermission"
                         groupBy="allGroup"
                         [selectableGroup]="true"
                         [selectableGroupAsModel]="false"
                         [closeOnSelect]="false"
                         bindLabel="value"
                         bindValue="key"
                         [(ngModel)]="param.permisionGroup"
                         [clearable]="param.permisionGroup.length > 0"
                         (clear)="param.permisionGroup = []"
                         [disabled]="permissionGroups.length == 0"
                         placeholder="{{ 'AttendanceMaintenance.MonthlyEmployeeStatusChangesSheetByWorkTypeJob.PermissionGroup' | translate }}">
                <ng-template ng-optgroup-tmp
                             let-item="item"
                             let-item$="item$"
                             let-index="index">
                  <div class="custom-control custom-checkbox pe-none">
                    <input id="item-{{ index }}"
                           type="checkbox"
                           class="custom-control-input"
                           name="item-{{ index }}"
                           [ngModel]="item$.selected" />
                    <label class="custom-control-label"
                           for="item-{{ index }}">{{'System.Action.SelectAll' | translate }}</label>
                  </div>
                </ng-template>
                <ng-template ng-option-tmp
                             let-item="item"
                             let-item$="item$"
                             let-index="index">
                  <div class="custom-control custom-checkbox pe-none">
                    <input id="item-{{ index }}"
                           name="item-{{ index }}"
                           type="checkbox"
                           class="custom-control-input"
                           [ngModel]="item$.selected" />
                    <label class="custom-control-label"
                           for="item-{{ index }}"> {{ item.value }}</label>
                  </div>
                </ng-template>
              </ng-select>
            </div>
            <!-- Work Type / Job -->
            <div class="col-12">
              <label class="badge badge-warning">
                {{ "AttendanceMaintenance.MonthlyEmployeeStatusChangesSheetByWorkTypeJob.WorkTypeJob" | translate }}
                <span class="text-danger text-bold"> *</span>
              </label>

              <ng-select [items]="workTypeJobs"
                         [multiple]="true"
                         name="work_Type"
                         groupBy="allGroup"
                         [selectableGroup]="true"
                         [selectableGroupAsModel]="false"
                         [closeOnSelect]="false"
                         bindLabel="value"
                         bindValue="key"
                         [(ngModel)]="param.work_Type"
                         [clearable]="param.work_Type.length > 0"
                         (clear)="param.work_Type = []"
                         placeholder="{{ 'AttendanceMaintenance.MonthlyEmployeeStatusChangesSheetByWorkTypeJob.WorkTypeJob' | translate }}">
                <ng-template ng-optgroup-tmp
                             let-item="item"
                             let-item$="item$"
                             let-index="index">
                  <div class="custom-control custom-checkbox pe-none">
                    <input id="item-{{ index }}"
                           type="checkbox"
                           class="custom-control-input"
                           name="item-{{ index }}"
                           [ngModel]="item$.selected" />
                    <label class="custom-control-label"
                           for="item-{{ index }}">{{'System.Action.SelectAll' | translate }}</label>
                  </div>
                </ng-template>
                <ng-template ng-option-tmp
                             let-item="item"
                             let-item$="item$"
                             let-index="index">
                  <div class="custom-control custom-checkbox pe-none">
                    <input id="item-{{ index }}"
                           name="item-{{ index }}"
                           type="checkbox"
                           class="custom-control-input"
                           [ngModel]="item$.selected" />
                    <label class="custom-control-label"
                           for="item-{{ index }}"> {{ item.value }}</label>
                  </div>
                </ng-template>
              </ng-select>
            </div>

            <!-- Identification Number -->

            <div class="col-12">
              <label class="d-block">&nbsp;</label>
              <!-- Search -->
              <button *ngIf="functionUtility.checkFunction('Search')"
                      type="button"
                      class="{{ classButton.SEARCH }}"
                      (click)="getTotalRecords()"
                      [disabled]="disableSearch()">
                <i class="{{ iconButton.SEARCH }}"></i>
                {{ "System.Action.Search" | translate }}
              </button>

              <!-- Clear -->
              <button *ngIf="functionUtility.checkFunction('Search')"
                      type="button"
                      class="{{ classButton.CLEAR }}"
                      (click)="clear()">
                <i class="{{ iconButton.CLEAR }}"></i>
                {{ "System.Action.Clear" | translate }}
              </button>

              <!-- Export Excel -->
              <button *ngIf="functionUtility.checkFunction('Excel')"
                      type="button"
                      class="{{ classButton.EXCEL }}"
                      [disabled]="disableSearch()"
                      (click)="onExport()">
                <i class="{{ iconButton.EXCEL }}"></i>
                {{ "System.Action.Excel" | translate }}
              </button>
            </div>

            <div class="col-12 mt-2">
              <strong> {{ "System.Message.TotalQuery" | translate }} <span class="text-primary"> {{totalRows}} </span>{{ "System.Message.Record" | translate }}</strong>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>