<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <form class="form-horizontal"
              autocomplete="off"
              #codeLanguageForm="ngForm">
          <div class="card-header">
            <div class="row border-title">
              <div class="col-md-12">
                <strong class="title-card-cs"
                        *ngIf="!isEdit"> {{ title }} - {{'System.Action.Add' | translate}} </strong>
                <strong class="title-card-cs"
                        *ngIf="isEdit"> {{ title }} - {{'System.Action.Edit' | translate}} </strong>
                <button type="button"
                        class="btn btn-sm btn-primary float-right"
                        (click)="back()">
                  <i class="{{ iconButton.BACK }}"></i> {{'System.Action.Back' | translate}}
                </button>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row border-shadow">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-4">
                <label for="textDepartment"
                       class="badge badge-warning">{{'BasicMaintenance.CodeTypeMaintenance.TypeSeq' | translate}}</label>
                <input type="text"
                       class="form-control"
                       pattern="/^-?\d+\.?\d*$/"
                       maxlength="5"
                       id="type_Seq"
                       name="type_Seq"
                       [(ngModel)]="param.type_Seq"
                       [ngModelOptions]="{standalone: true}"
                       [disabled]="isEdit"
                       placeholder="{{'BasicMaintenance.CodeTypeMaintenance.TypeSeq'  | translate}}"
                       required>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-4">
                <label for="textDepartment"
                       class="badge badge-warning">{{'BasicMaintenance.CodeTypeMaintenance.TypeName' | translate}}</label>
                <input type="text"
                       class="form-control"
                       [(ngModel)]="param.type_Name"
                       id="type_Name"
                       name="type_Name"
                       maxlength="50"
                       placeholder="{{'BasicMaintenance.CodeTypeMaintenance.TypeName'  | translate}}"
                       required>
              </div>
            </div>
            <div class="row justify-content-md-center">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="table-responsive text-right">
                  <button type="button"
                          class="btn btn-primary  ml-2"
                          [disabled]="codeLanguageForm.invalid"
                          (click)="onEdit(param)"><i class="fa fa-language"
                       aria-hidden="true"></i>
                    {{'BasicMaintenance.CodeTypeMaintenance.Language' | translate}}
                  </button>

                  <button type="button"
                          class="btn btn-success  ml-2"
                          [disabled]="codeLanguageForm.invalid"
                          (click)="saveChange()">
                    <i class="{{iconButton.SAVE}}"
                       aria-hidden="true"></i>
                    {{'System.Action.Save' | translate}}
                  </button>
                  <button type="button"
                          class="btn btn-danger ml-2"
                          (click)="back()">
                    <i class="{{iconButton.CLOSE}}"
                       aria-hidden="true"></i> {{'System.Action.Close' | translate}}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<app-modal></app-modal>
