<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <div class="row border-title">
            <div class="col-md-12">
              <strong class="title-card-cs">{{ title }} - {{ "System.Action." + formType | translate }}</strong>
              <button type="button"
                      class="{{classButton.BACK}}"
                      (click)="back()">
                <i class="{{ iconButton.BACK }}"></i> {{'System.Action.Back' | translate }}
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form class="form-horizontal"
                autocomplete="off"
                #paramForm="ngForm">
            <div class="row border-shadow">
              <div class="col-12">
                <div class="row">
                  <!-- Factory -->
                  <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-6 col-sm-12">
                    <label class="badge badge-warning">
                      {{ 'SalaryMaintenance.IncomeTaxFreeSetting.Factory' | translate }}
                      <span class="text-danger text-bold"> *</span>
                    </label>
                    <ng-select name="factory"
                               [(ngModel)]="param.factory"
                               (ngModelChange)="onPropertyChange()"
                               (clear)="deleteProperty(param, 'factory')"
                               [clearable]="param.factory != ''"
                               [disabled]="isEdit"
                               placeholder="{{'SalaryMaintenance.IncomeTaxFreeSetting.Factory' | translate }}"
                               required>
                      <ng-option *ngFor="let item of listFactory"
                                 [value]="item.key">
                        {{item.value}}
                      </ng-option>
                    </ng-select>
                  </div>
                  <!-- SalaryType -->
                  <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-6 col-sm-12">
                    <label class="badge badge-warning">
                      {{ 'SalaryMaintenance.IncomeTaxFreeSetting.SalaryType' | translate }}
                      <span class="text-danger text-bold"> *</span>
                    </label>
                    <ng-select name="nation"
                               [(ngModel)]="param.salary_Type"
                               (ngModelChange)="onPropertyChange()"
                               (clear)="deleteProperty(param, 'salary_Type')"
                               [clearable]="param.salary_Type != ''"
                               [disabled]="isEdit"
                               placeholder="{{'SalaryMaintenance.IncomeTaxFreeSetting.SalaryType' | translate }}"
                               required>
                      <ng-option *ngFor="let item of listSalaryType"
                                 [value]="item.key">
                        {{item.value}}
                      </ng-option>
                    </ng-select>
                  </div>
                  <!-- Effective Month -->
                  <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-6 col-sm-12">
                    <label class="badge badge-warning">
                      {{"SalaryMaintenance.IncomeTaxFreeSetting.EffectiveMonth" | translate }}
                      <span class="text-danger text-bold"> *</span>
                    </label>
                    <div class="full-width">
                      <div class="container_date">
                        <div class="input-group mr-1">
                          <input autocomplete="off"
                                 onpaste="return false;"
                                 type="text"
                                 placeholder="{{placeholder.YearMonth}}"
                                 [class]="!isEdit ? 'form-control' : 'form-control'"
                                 name="effective_Month"
                                 [(ngModel)]="param.effective_Month"
                                 (ngModelChange)="onEffectiveMonthChange()"
                                 [disabled]="isEdit"
                                 bsDatepicker
                                 [bsConfig]="bsConfig"
                                 required />
                          <div class="input-group-append">
                            <span class="input-group-text"><i class="{{iconButton.CALENDAR}}"></i></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <form class="form-horizontal"
                autocomplete="off"
                #tableForm="ngForm">
            <div class="row justify-content-md-center">
              <div class="col-lg-12">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th class="text-center operation-column"
                            [hidden]="isEdit">
                          {{ 'System.Action.Operation' | translate }}
                        </th>
                        <th class="text-center">
                          {{ 'SalaryMaintenance.IncomeTaxFreeSetting.Type' | translate }}
                        </th>
                        <th class="text-center">
                          {{ 'SalaryMaintenance.IncomeTaxFreeSetting.Amount' | translate }}
                        </th>
                        <th class="text-center">
                          {{ 'SalaryMaintenance.IncomeTaxFreeSetting.UpdateBy' | translate }}
                        </th>
                        <th class="text-center">
                          {{ 'SalaryMaintenance.IncomeTaxFreeSetting.UpdateTime' | translate }}
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of data; index as i">
                        <td class="text-center"
                            [hidden]="isEdit">
                          <button type="button"
                                  class="{{classButton.tDELETE}}"
                                  (click)="remove(i)"><i class="{{ iconButton.DELETE }}"></i>
                            {{'System.Action.Delete' | translate }}
                          </button>
                        </td>
                        <td class="text-center"
                            [ngClass]="{'invalid-data': item.is_Duplicate}">
                          <ng-select name="type-{{i}}"
                                     [(ngModel)]="item.type"
                                     (clear)="deleteProperty(item, 'type')"
                                     [clearable]="item.type != ''"
                                     (ngModelChange)="onKeyChange(item, true)"
                                     appendTo="body"
                                     dropdownPosition="bottom"
                                     [disabled]="isEdit"
                                     placeholder="{{'SalaryMaintenance.IncomeTaxFreeSetting.Type' | translate}}"
                                     required>
                            <ng-option *ngFor="let item of listType"
                                       [value]="item.key">
                              {{item.value}}
                            </ng-option>
                          </ng-select>
                        </td>
                        <td class="text-center">
                          <input type="number"
                                 class="form-control"
                                 name="amount-{{i}}"
                                 [(ngModel)]="item.amount"
                                 (ngModelChange)="onDataChange(item)"
                                 placeholder="{{'SalaryMaintenance.IncomeTaxFreeSetting.Amount' | translate}}"
                                 mask="000000000"
                                 [disabled]="item.is_Disabled_Edit"
                                 [max]="999999999"
                                 required />
                        </td>
                        <td class="text-center">{{ item.update_By }}</td>
                        <td class="text-center">{{ item.update_Time_Str }}</td>
                      </tr>
                    </tbody>
                    <tr *ngIf="data?.length === 0"
                        class="no-data">
                      <td colspan="100%"
                          class="table-warning text-center font-weight-bold">
                        {{'System.Message.NoData' | translate }}
                      </td>
                    </tr>
                    <tr class="no-data"
                        *ngIf="!isEdit">
                      <td class="text-center"
                          colspan="100%">
                        <button type="button"
                                class="{{classButton.tDETAIL}}"
                                (click)="add()"
                                [disabled]="paramForm.invalid || tableForm.invalid || isDuplicated">
                          <i class="{{ iconButton.ADD }}"></i> {{'System.Action.Add' | translate }}
                        </button>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </form>
          <div class="row justify-content-md-center">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="table-responsive text-right">
                <button type="button"
                        class="{{classButton.SAVE}}"
                        (click)="save()"
                        [disabled]="paramForm.invalid || tableForm.invalid || isDuplicated">
                  <i class="{{ iconButton.SAVE }}"></i> {{'System.Action.Save' | translate }}
                </button>
                <button type="button"
                        class="{{classButton.CLOSE}}"
                        (click)="back()">
                  <i class="{{ iconButton.CLOSE }}"></i> {{'System.Action.Close' | translate }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
